<p>You must have received an invitation to apply, which should include the fund's prospectus. If you have not received the prospectus, contact digitalplanningteam@communities.gov.uk</p>
            <p><a href="https://www.localdigital.gov.uk/digital-planning/digital-planning-improvement-fund-2024/" class="govuk-link">Read the fund's prospectus</a> before you apply.</p>

            <p><strong>Submission deadline:</strong> 31 January 2025 at 11:59am</p>

            {{ govukButton({
                text: "Enter your email address",
                href: "/apply/email-address",
                isStartButton: true
            }) }}

            <h2 class="govuk-heading-m">Get help</h2>
            <p>If you need help, contact us through our <a href="https://mhclgdigital.atlassian.net/servicedesk/customer/portal/5/group/68" class="govuk-link">support desk</a>.</p>
            <p>Do not send any applications or attachments from the service desk portal. We'll only accept applications through this service.</p>