{% extends "layout_with_back_nstf.html" %}

{% block pageTitle %}
  Before you start | Name your application
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Before you start</span>
    <h1 class="govuk-heading-l">Name your application</h1>

    <form action="check-your-answers" class="form" method="post">

      <div class="govuk-form-group">
          <p id="app-name-hint" class="govuk-hint">This is what your application will be called and will help you find it when you save and return.</p>

            <p class="govuk-hint">Choose a memorable name that describes your application.</p>
        <input
        class="govuk-input"
        id="app-name"
        name="app-name"
        type="text"
        spellcheck="false"
        value="{{ data['app-name'] }}"
        />
      </div>

      <div>
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </div>
    </form>

  </div>
{% endblock %}
