{% extends "layout.html" %}

{% block pageTitle %}
Your advisors
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">6.2 Building works</span>
      <h1 class="govuk-heading-l">Details of professional advisors</h1>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Job role</th>
        <th scope="col" class="govuk-table__header">Organisation name</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      {% for i in data.nstfadvisorData %}
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">{{ i.job }}</th>
        <td class="govuk-table__cell">{{ i.orgname }}</td>
        <td class="govuk-table__cell"><a href="advisor-loop/delete/{{ loop.index0 }}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="govuk-button-group">
    <a href="contractors" class="govuk-button" data-module="govuk-button">
      Save and continue
    </a>
    <a href="advisor-add" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Add another
    </a>
  </div>
  </div>
</div>
{% endblock %}
