{% extends "layout.html" %}

{% block pageTitle %}
  Add advisors
{% endblock %}

{% block header %}
  {{ govukHeader() }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">6.2 Building works</span>
      <h1 class="govuk-heading-l">Details of professional advisors</h1>
      <p class="govuk-hint">You can add more advisors on the next step.</p>

  <form action="advisor-loop" method="post" novalidate>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="nstf-r2-job-role-hint">
        What is their job role?
      </label>
      <input
        class="govuk-input govuk-input--width-20"
        id="nstf-r2-job-role"
        name="nstfr2advisor[job]"
        type="text"
        aria-describedby="nstf-r2-job-role-hint"
        value=""
      />
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="nstf-r2-org-name-hint">
        Organisation name
      </label>
      <input
        class="govuk-input govuk-input--width-20"
        id="nstf-r2-org-name"
        name="nstfr2advisor[orgname]"
        type="text"
        aria-describedby="nstf-r2-advisor-hint"
        value=""
      />
    </div>

    <button
      class="govuk-button govuk-button--secondary"
      data-module="govuk-button"
    >
      Add and continue
    </button>

    </form>
  </div>
</div>
{% endblock %}
