{% extends "layout_with_back_nstf.html" %}

{% block pageTitle %}
  Application number
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">6.2 Building works</span>
    <h1 class="govuk-heading-l">What's your planning application number?</h1>
    <p class="govuk-hint">You can find this on communications from your local planning department about your application.</p>
    <form action="contract" class="form" method="post">

      <div class="govuk-form-group">
        <input class="govuk-input govuk-input--width-10"
        id="nstf-r3-application-number"
        name="nstf-r3-application-number"
        type="text"
        spellcheck="false"
        value="{{ data['nstf-r3-application-number'] }}"
        />
      </div>
      

      <div>
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </div>
    </form>

  </div>
{% endblock %}
