{% extends "layout_nstf.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">6.2 Building works</span>
    <h1 class="govuk-heading-l">Check your answers</h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Will you use the funding to conduct building works?
        </dt>
        <dd class="govuk-summary-list__value">
          {%if data['nstf-r3-building-works'] == "yes" %}
          Yes
          {% else %}
          No
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="building-works"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      
      {%if data['nstf-r3-building-works'] == "yes" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Number of new single room units (optional)
        </dt>
        <dd class="govuk-summary-list__value">
          {%if data['nstf-r3-room-units']%}
          {{ data['nstf-r3-room-units'] }}
          {% else %}
          0
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="room-units"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Do you need planning approval for your proposal?
        </dt>
        <dd class="govuk-summary-list__value">
          {%if data['nstf-r3-planning-approval'] == "yes" %}
          Yes
          {% elseif data ['nstf-r3-planning-approval'] == "no" %}
          No
          {% else %}
          I don't know
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="planning-approval"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>

      {%if data['nstf-r3-planning-approval'] == "yes" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Have you made an application for planning permission?
        </dt>
        <dd class="govuk-summary-list__value">
          {%if data['nstf-r3-planning-permission'] == "yes" %}
          Yes
          {% else %}
          No
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="planning-permission"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {%if data['nstf-r3-planning-permission'] == "yes" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          What's your planning application number?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['nstf-r3-application-number'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="application-number"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {% endif %}
      {%if data['nstf-r3-planning-permission'] == "no" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Have you received any pre-application planning advice?
        </dt>
        <dd class="govuk-summary-list__value">
          {%if data['nstf-r3-planning-advice'] == "yes" %}
          Yes
          {% else %}
          No
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="planning-advice"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {% endif %}
      {%if data['nstf-r3-planning-advice'] == "yes" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Give a brief summary of the advice you received
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['nstf-r2-advice-summary'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="advice-summary"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {% endif %} 
      {% endif %} 

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Will you procure a construction contract for the building works?
        </dt>
        <dd class="govuk-summary-list__value">
          {%if data['nstf-r3-contract'] == "yes" %}
          Yes
          {% else %}
          No
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="contract"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Will you use any professional advisors for the proposal?
        </dt>
        <dd class="govuk-summary-list__value">
          {%if data['nstf-r3-advisors'] == "yes" %}
          Yes
          {% else %}
          No
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="advisors"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {%if data['nstf-r3-advisors'] == "yes" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Details of professional advisors
        </dt>
        <dd class="govuk-summary-list__value">
          {% for i in data.nstfadvisorData %}
          {{ i.job }} : {{ i.orgname }} <br />
        {% endfor %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="advisor-loop"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {% endif %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Will you be hiring contractors to complete the building works?
        </dt>
        <dd class="govuk-summary-list__value">
          {%if data['nstf-r3-contractors'] == "yes" %}
          Yes
          {% else %}
          No
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="contractors"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {%if data['nstf-r3-contractors'] == "yes" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Do you know which contractors will be conducting the work?
        </dt>
        <dd class="govuk-summary-list__value">
          {%if data['nstf-r3-which-contractors'] == "yes" %}
          Yes
          {% else %}
          No
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="contractors-yes"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {%if data['nstf-r3-which-contractors'] == "yes" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Your contractors
        </dt>
        <dd class="govuk-summary-list__value">
          {% for i in data.nstfcontractorData %}
          {{ i.conname }} <br />
        {% endfor %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="contractor-loop"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {% endif %}
      {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Do you have a cost estimate for the building works?
        </dt>
        <dd class="govuk-summary-list__value">
          {%if data['nstf-r3-cost-estimate'] == "yes" %}
          Yes
          {% else %}
          No
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="cost-estimate"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {%if data['nstf-r3-cost-estimate'] == "yes" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Upload cost estimate
        </dt>
        <dd class="govuk-summary-list__value">
          filename.file
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="cost-estimate-upload"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Do you have a condition survey?
        </dt>
        <dd class="govuk-summary-list__value">
          {%if data['nstf-r3-condition-survey'] == "yes" %}
          Yes
          {% else %}
          No
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="condition-survey"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {%if data['nstf-r3-condition-survey'] == "yes" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Upload a condition survey
        </dt>
        <dd class="govuk-summary-list__value">
          filename.file
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="condition-survey-upload"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Do you have a buildings and contents insurance certificate?
        </dt>
        <dd class="govuk-summary-list__value">
          {%if data['nstf-r3-insurance'] == "yes" %}
          Yes
          {% else %}
          No
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="insurance"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {%if data['nstf-r3-insurance'] == "yes" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Upload buildings and contents insurance certificate
        </dt>
        <dd class="govuk-summary-list__value">
          filename.file
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="insurance-upload"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Do you own the premises?
        </dt>
        <dd class="govuk-summary-list__value">
          {%if data['nstf-r3-own-premise'] == "yes" %}
          Yes
          {% else %}
          No
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="own-premise"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {%if data['nstf-r3-own-premise'] == "yes" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Upload a copy of the land registry title
        </dt>
        <dd class="govuk-summary-list__value">
          filename.file
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="land-title-upload"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {% endif %}
      {%if data['nstf-r3-own-premise'] == "no" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Upload the land owner's consent
        </dt>
        <dd class="govuk-summary-list__value">
          filename.file
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="owner-consent-upload"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          How long is left on the lease agreement?
        </dt>
        <dd class="govuk-summary-list__value">
          {%if data['nstf-r3-lease-time'] == "more-4-years" %}
          More than 4 years
          {% else %}
          Less than 4 years
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="lease-time"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {%if data['nstf-r3-lease-time'] == "more-4-years" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Upload a copy of the lease agreement
        </dt>
        <dd class="govuk-summary-list__value">
         filename.file
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="lease-agreement"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {% endif %}
      {%if data['nstf-r3-lease-time'] == "less-4-years" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Upload correspondence from your landlord to show that lease renewal discussions have started
        </dt>
        <dd class="govuk-summary-list__value">
         filename.file
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="correspondence"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Upload heads of terms outlining new lease agreement
        </dt>
        <dd class="govuk-summary-list__value">
         filename.file
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="head-terms"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {% endif %}
      {% endif %}
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Is the building listed?
        </dt>
        <dd class="govuk-summary-list__value">
          {%if data['nstf-r3-building-listed'] == "yes" %}
          Yes
          {% else %}
          No
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="building-listed"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {%if data['nstf-r3-building-listed'] == "yes" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Upload listed building consent
        </dt>
        <dd class="govuk-summary-list__value">
         filename.file
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="listed-yes"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {% endif %}

      {% endif %}
    </dl>

    <form action="../../app-task-list-new" method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Do you want to mark this section as complete?
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
              id="section-02-complete"
              name="6-2-complete" type="radio" value="Yes" {{
              checked("6-2-complete", "Yes") }}>
              <label
                class="govuk-label govuk-radios__label"
                for="section-02-complete"
              >
                Yes, I’ve completed this section
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
              id="section-02-complete-2"
              name="6-2-complete" type="radio" value="No" {{
              checked("6-2-complete", "No") }}>
              <label
                class="govuk-label govuk-radios__label"
                for="section-02-complete-2"
              >
                No, I’ll come back to it later
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
