{% extends "layout_with_back_nstf.html" %}

{% block pageTitle %}
  Lease agreement
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">6.2 Building works</span>
      <h1 class="govuk-heading-l">Upload a copy of the lease agreement</h1>

    <form action="building-listed" class="form" method="post">
      <div class="govuk-form-group">
              <div class="govuk-form-group">
                <p class="govuk-hint">It should be a single file no bigger than 5MB in an accepted format (jpg, jpeg, png, pdf, txt, doc, docx, odt, rtf, csv, xls, xlsx, ods).</p>
                <input class="govuk-file-upload" id="nstf-r2-lease-upload" name="nstf-r2-lease-upload" type="file">
              </div>
      <div>
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </div>
    </form>
    
  </div>
{% endblock %}