{% extends "layout_with_back_nstf.html" %}

{% block pageTitle %}
  Declarations
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: "Apply for funding to transform your night shelter services in England"
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">7.1 Declarations</span>
      <h1 class="govuk-heading-l">Agree to the final confirmations</h1>

    <form action="check-your-answers" class="form" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-label govuk-label--s">
              Confirm you have a bank account set up and associated with the organisation you are applying on behalf of
            </legend>

            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="cofr3-subsidy-implications" name="cofr3-subsidy-implications" type="radio" value="Yes">

                <label class="govuk-label govuk-radios__label" for="cofr3-subsidy-implications">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="cofr3-subsidy-implications-2" name="cofr3-subsidy-implications" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="cofr3-subsidy-implications-2">
                  No
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-label govuk-label--s">
                Confirm that the information you've provided in this application is accurate to the best of your knowledge on the date of submission
              </legend>
  
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="cofr3-protected-characteristics-considered" name="cofr3-protected-characteristics-considered" type="radio" value="Yes">
  
                  <label class="govuk-label govuk-radios__label" for="cofr3-protected-characteristics-considered">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="cofr3-protected-characteristics-considered-2" name="cofr3-protected-characteristics-considered" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="cofr3-protected-characteristics-considered-2">
                    No
                  </label>
                </div>
              </div>
          
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-label govuk-label--s">
                Confirm you have a safeguarding, data protection and health and safety policy
              </legend>
  
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="cofr3-sustainability-considered" name="cofr3-sustainability-considered" type="radio" value="Yes">
  
                  <label class="govuk-label govuk-radios__label" for="cofr3-sustainability-considered">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="cofr3-sustainability-considered-2" name="cofr3-sustainability-considered" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="cofr3-sustainability-considered-2">
                    No
                  </label>
                </div>
              </div>
          
            </fieldset>
          </div>

      <div>
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </div>
    </form>
    
  </div>
{% endblock %}