{% extends "layouts/grantManagement.html" %}

{% set pageHeading = "What’s the full name of the Senior Officer Responsible (SOR)?" %}
{% set pageSection = "Create a grant profile" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection,pageSize) }}  
      

      <p>All government grants require a named senior officer responsible (SOR) who is responsible and accountable for the succesful delivery of the grant.</p>
   
      {% if data['status'] == "change" %}
      		<form class="form" action="/grant/profile/check-your-answers" method="post">
				<input type="hidden" name="status" id="status" value="" />
      	{% else %}
      <form class="form" action="/grant/profile/senior-officer-email" method="post">
        {% endif %}

        {{ govukInput({
          label: {
            text: pageHeading,
              classes: "govuk-label govuk-visually-hidden",
              isPageHeading: false
          },          
          classes: "govuk-!-width-two-thirds",
          id: "grantSORName",
          name: "grantSORName",
          value: data.grantSORName,
          type: "text"
        }) }}


        

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
