{% extends "layout_with_back_nstf.html" %}

{% block pageTitle %}
  Staff and volunteers
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">2.1 Staff and volunteers</span>
    <h1 class="govuk-heading-l">Employed staff and volunteers at your organisation</h1>

  <form action="check-your-answers" class="form" method="post">
      
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="nstf-r2-no-staff-members">
        How many staff members are currently employed in your organisation?
      </label>
      <input class="govuk-input govuk-input--width-10" id="nstf-r2-no-staff-members" name="nstf-r2-no-staff-members" type="text" value="{{ data['nstf-r2-no-staff-members'] }}">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="nstf-r2-no-volunteers">
        How many volunteers are actively involved in your organisation?
      </label>
      <input class="govuk-input govuk-input--width-10" id="nstf-r2-no-volunteers" name="nstf-r2-no-volunteers" type="text" value="{{ data['nstf-r2-no-volunteers'] }}">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="nstf-r2-perc-staff-pt">
        What percentage of your employed staff work part-time?
      </label>
      <input class="govuk-input govuk-input--width-10" id="nstf-r2-perc-staff-pt" name="nstf-r2-perc-staff-pt" type="text" value="{{ data['nstf-r2-perc-staff-pt'] }}">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="nstf-r2-avg-fte-staff-pt">
        For part-time employees, what is their average full-time equivalency (FTE)?
      </label>
      <input class="govuk-input govuk-input--width-10" id="nstf-r2-avg-fte-staff-pt" name="nstf-r2-avg-fte-staff-pt" type="text" value="{{ data['nstf-r2-avg-fte-staff-pt'] }}">
    </div>


<div>

    <div>
      <button class="govuk-button" data-module="govuk-button">Save and continue</button>
    </div>
  </form>
  
</div>
{% endblock %}