{% macro pageHeader (
    heading = "",
    section = "",    
    hidden = "",
    size = "",
    data = {}
) %}
    {% if section %}
    <span class="govuk-caption-{{ size }}">      
        {% if not hidden %}<span class="govuk-visually-hidden">This section is: </span>{% endif %}            
        {{ section }}        
    </span>{% endif %}
    <h1 class="govuk-heading-{{ size }}">{{ heading }}</h1>
{% endmacro %}