{% from "govuk/components/footer/macro.njk" import govukFooter %}

{%- macro prototypeFooter() -%}
	{{ govukFooter({
		meta: {
			items: [
				{ href: "/manage-prototype/clear-data", text: "Clear data" },
				{ href: "/manage-prototype", text: "Manage prototype" },
				{
					href: "#",
					text: "Toggle hidden text",
					attributes: { "data-module": "prototype-reveal-hidden" }
				}
			],
			html: 'Built by the <a href="#" class="govuk-footer__link">Ministry of Housing, Communities & Local Government Funding Service</a>'
		}
	}) }}
{%- endmacro -%}