{% extends "layout_with_back_nstf.html" %}

{% block pageTitle %}
  Add capital expenditure
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: "Apply for funding to transform your night shelter services in England"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">6.1 Funding required</span>
      <h1 class="govuk-heading-l">Capital funding</h1>

      <p class="govuk-hint">You can add more items on the next step.</p>


  <form action="03-capital-loop" method="post" novalidate>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="nstf-capital-name">
        Item of expenditure
      </label>
      <div id="nstf-capital-name" class="govuk-hint">
        For example, staff, IT, travel, marketing or advertising.
      </div>
      <input
        class="govuk-input govuk-input--width-20"
        id="nstf-capital-name"
        name="nstfCapital[name]"
        type="text"
        aria-describedby="nstf-capital-name"
        value=""
      />
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="nstf-capital-amount">
        Amount
      </label>
      <div class="govuk-input__wrapper">
        <div class="govuk-input__prefix" aria-hidden="true">£</div>
        <input class="govuk-input govuk-input--width-10" id="nstf-capital-amount" name="nstfCapital[amount]" type="number" autocomplete="nstf-capital-amount">
      </div>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">

        <legend class="govuk-label govuk-label--s">
          Financial year
        </legend>

        <div class="govuk-radios govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="nstf-capital-year" name="nstfCapital[year]" type="radio" value="2023 to 2024">
            <label class="govuk-label govuk-radios__label" for="nstf-capital-year">
              1 April 2023 to 31 March 2024
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="nstf-capital-year-2" name="nstfCapital[year]" type="radio" value="2024 to 2025">
            <label class="govuk-label govuk-radios__label" for="nstf-capital-year-2">
              1 April 2024 to 31 March 2025
            </label>
          </div>
        </div>

      </fieldset>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="nstf-capital-calculated">
        How the expenditure is calculated (optional)
      </label>
      <div id="nstf-capital-calculated" class="govuk-hint">
        For example, pro rata staff salary.
      </div>
      <input
        class="govuk-input"
        id="nstf-capital-calculated"
        name="nstfCapital[calculated]"
        type="text"
        aria-describedby="nstf-capital-calculated"
        value=""
      />
    </div>

    <button
      class="govuk-button govuk-button--secondary"
      data-module="govuk-button"
    >
      Add and continue
    </button>

    </form>
  </div>
</div>
{% endblock %}
