{% extends "layouts/grantManagement.html" %}

{% set showBackLink = true %}
{% set showBackApplicationsLink = false %}


{% set pageSize = "xl" %}
{% set pageHeading = "Purpose of this grant" %}
{% set pageSection = "" %}
{% set pageHidden = "" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageNested,pageHeading,pageSection,pageHiddentext,pageSize) }}

		<p>Provide a brief description of the main purpose of the grant. This information will be seen by potential grant recipients.</p>

        <form method="post" action="/funding/grant/details/setup/summary">


        	{{ govukCharacterCount({
            	name: "grant-description",
            	id: "grant-description",
            	value: data['grant-description'],
            	maxwords: 200,
            	rows: 6,            	
            	label: {
              		text: "Enter the main purpose of this grant",
              		classes: "govuk-label govuk-visually-hidden",
              		isPageHeading: false
            	}
          	}) }}

            {{ govukButton({
                text: "Updat main purpose"
            }) }}

        </form>
    </div>
</div>

{% endblock %}
<!-- *bc* -->