{% extends "layouts/grantManagement.html" %}

{% set showBackLink = true %}
{% set showBackApplicationsLink = false %}


{% set pageSize = "xl" %}
{% set pageHeading = "Do you have a Government Grants Information System (GGIS) reference number?" %}
{% set pageSection = "Set up the grant" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection,pageHidden,pageSize) }}

		<p>You'll need to provide your GGIS number before you can create forms or assess grant applications.</p>

        <form method="post" action="/funding/grant/details/setup/summary">
			<input type="hidden" name="status" id="status" value="" />


				{% set yesGGISHtml %}

					{{ govukInput({
						id: "grant-ggisNumber",
						name: "grant-ggisNumber",
						value: data['grant-ggisNumber'],
						autocomplete: "number",
						spellcheck: false,
						classes: "govuk-!-width-two-thirds",
						label: {
							text: "Enter your GGIS reference number"
						},
						hint: {
							text: "For example, G2-SCH-2025-05-12346."
						}
					}) }}

				{% endset -%}


				{% set noGGISHtml %}

					<p>You can still add this grant, but will need to add a GGIS number before creating forms.</p>

				{% endset -%}



				{{ govukRadios({
					name: "grant-ggis",
					id: "grant-ggis",
					fieldset: {
						legend: {
							text: pageHeading,
							isPageHeading: true,
							classes: "govuk-fieldset__legend govuk-visually-hidden"
						}
					},
					items: [
						{ value: "Yes", text: "Yes", conditional: { html: yesGGISHtml }, checked: checked("grant-ggis", "Yes") },
						{ value: "No", text: "No", checked: checked("grant-ggis", "No") }
					]
				}) }}

            	{{ govukButton({
                	text: "Save and continue"
            	}) }}
        	</form>

    </div>
</div>

{% endblock %}

<!-- *bc* -->