{% extends "layouts/grantManagement.html" %}

<!-- Import macro for forms -->
{% from "macros/forms.njk" import singleInputField %}
<!-- // -->

{% set showBackLink = true %}

{% set pageSize = "x" %}
{% set pageHeading = "What is the name of this grant?" %}
{% set pageSection = "Set up the grant" %}
{% set pageHidden = "" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageNested,pageHeading,pageSection,pageHidden,pageSize) }}

        <p>This should be the full and official name of the grant. Do not include abbreviations or acronyms.</p>

        <form method="post" action="/funding/grant/details/setup/summary">

            {{ govukInput({
                label: {
                    text: "Grant name",
                    classes: "govuk-label govuk-visually-hidden",
                    isPageHeading: false
                },
                classes: "govuk-!-width-two-thirds",
                id: "grantName",
                name: "grantName",
                value: data['grantName']
            }) }}



             {% if data['change'] == "yes" %}

            {{ govukButton({
                text: "Update"
            }) }}


            {% else %}

            {{ govukButton({
                text: "Save and continue"
            }) }}

            {% endif %}
        </form>

    </div>
</div>

{% endblock %}

<!-- *bc* -->