{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}


{% set pageHeading = "Check your answers" %}
{% set pageSection = "" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <h2 class="govuk-heading-m">Engaging the organisation</h2>
		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">How will you make sure team members engage with other parts of your organisation?</dt>
			  	<dd class="govuk-summary-list__value">{{ data['engagingOrganisationHow'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/engaging-the-organisation/team-engagement?link=change">Change<span class="govuk-visually-hidden"> Has your organisation delivered projects like this before?</span></a>
			  	</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">How will you share the progress of the work across your organisation?</dt>
			  	<dd class="govuk-summary-list__value">{{ data['engagingOrganisationProgress'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/engaging-the-organisation/share-progress?link=change">Change<span class="govuk-visually-hidden"> Has your organisation delivered projects like this before?</span></a>
			  	</dd>
			</div>
		</dl>

		<form action="/apply/task-list" method="post" novalidate>

			<!-- Session information to inform although section is finished is it completed -->

			{{ govukRadios({
				classes: "govuk-radios--inline",
				name: "section4_2Complete",
				fieldset: {
					legend: {
						text: "Do you want to mark this section as complete?",
						isPageHeading: false,
						classes: "govuk-fieldset__legend--l"
					}
				},
				items: [
				{ value: "yes", text: "Yes", checked: checked("section4_2Complete", "yes")  },
				{ value: "no", text: "No", checked: checked("section4_2Complete", "no") }
				]
			}) }}

			{{ govukButton({
			text: "Save and continue"
			}) }}

		</form>

    </div>
  </div>
{% endblock %}
