{% extends "layouts/main.html" %}

{% set pageHeading = "How will you make sure team members engage with other parts of your organisation?" %}
{% set pageSection = "" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

		<p class="govuk-body govuk-hint">We expect you to regularly engage with:</p>

		<ul class="govuk-list govuk-list--bullet govuk-hint">
			<li>planning departments</li>
			<li>transformation departments</li>
			<li>data departments</li>
			<li>GIS (geographical information system) teams</li>
			<li>senior leadership</li>
			<li>information technology teams</li>
		</ul>


		{% if data['link'] == "change" %}
		<form method="post" action="/apply/engaging-the-organisation/check-your-answers?link=" >
		{% else %}
		<form method="post" action="/apply/engaging-the-organisation/share-progress" >
		{% endif %} 
        

			<!-- Session information to say section started - but not completed -->
            <input type="hidden" id="engagingOrganisationComplete" name="engagingOrganisationComplete" value="Started" />

			{{ govukCharacterCount({
				name: "engagingOrganisationHow",
				id: "engagingOrganisationHow",
				maxwords: 250,
				value: data['engagingOrganisationHow']  ,
				label: {
				  text: pageHeading,
				  classes: "govuk-label--l govuk-visually-hidden",
				  isPageHeading: false
				}
			  }) }}


            {{ govukButton({
                text: "Save and continue"
            }) }}
        </form>

    </div>
</div>

{% endblock %}