{% extends "layouts/grants" %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}


{% set pageSize = "xl" %}
{% set pageHeading = "You need to have a GGIS reference number before you can add this grant" %}
{% set pageSection = "Add a grant" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection,pageSize) }}

		<p class="govuk-body">You’ll need to complete the <a href="https://forms.office.com.mcas.ms/pages/responsepage.aspx?id=EGg0v32c3kOociSi7zmVqBUKhC0CqZtGmIj1YcYa53xUNTFRWkRXQ1ZJUEJMOTg1UllGWEpCNDQ4NSQlQCN0PWcu&route=shorturl" target="_blank">Pipeline Grants Scheme Form (opens in new tab)</a> and the Finance Process and Data team will issue your grant with a reference number.</p>
        <p class="govuk-body">If you’ve lost your GGIS reference number, contact the team at ggis@communities.gov.uk.</p>    

    </div>
</div>

{% endblock %}

<!-- *bc* -->