{% extends "layouts/grantManagement.html" %}

{% set showBackLink = true %}
{% set showBackApplicationsLink = false %}


{% set pageSize = "xl" %}
{% set pageHeading = "What tier does this grant belong to?" %}
{% set pageSection = "Set up the grant" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection,pageSize) }}

		<p>Select which tier this grant falls into, according to the Cabinet Office categorisation framework.</p>

        {% if data['status'] == "change" %}
            <form method="post" action="/funding/grant/add/summary">
				<input type="hidden" name="status" id="status" value="" />
      	{% else %}
          	<form method="post" action="/funding/grant/add/name">
        {% endif %}

				{{ govukRadios({
					name: "grantProfile-category",
					id: "grantProfile-category",
					fieldset: {
						legend: {
							text: pageHeading,
							isPageHeading: true,
							classes: "govuk-fieldset__legend govuk-visually-hidden"
						}
					},
					items: [
						{ value: "Bronze", text: "Bronze", checked: checked("grantProfile-category", "Bronze") },
						{ value: "Silver", text: "Silver", checked: checked("grantProfile-category", "Silver") },
						{ value: "Gold", text: "Gold", checked: checked("grantProfile-category", "Gold") }
					]
				}) }}

            	{{ govukButton({
                	text: "Save and continue"
            	}) }}
        	</form>

    </div>
</div>

{% endblock %}

<!-- *bc* -->