
{% extends "layouts/deliver.html" %}

{% set showBackLink = true %}
{% set showBackApplicationsLink = false %}

{% set pageSize = "xl" %}
{% set pageHeading = "What is the main purpose of this grant?" %}
{% set pageSection = "Set up the grant" %}
{% set pageHidden = "yes" %}
{% set pageNested = "yes" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageNested,pageHeading,pageSection,pageHidden,pageSize) }}

		<p class="govuk-body">Provide a brief description of the main purpose of the grant. This information will be seen by potential grant recipients.</p>

		{% if data['change'] == "yes" %}
        <form method="post" action="/funding/grant/add/summary">
			<input type="hidden" name="change" id="change" value="" />
      	{% else %}
        <form method="post" action="/funding/grant/add/primary-contact-details">
        {% endif %}


        	{{ govukCharacterCount({
            	name: "grant-description",
            	id: "grant-description",
            	value: data['grant-description'],
            	maxwords: 200,
            	rows: 6,            	
            	label: {
              		text: "What is the main purpose of this grant?",
              		classes: "govuk-label govuk-label--s",
              		isPageHeading: false
            	}
          	}) }}

            {% if data['change'] == "yes" %}
                {% include "/includes/buttonUpdate.html" %}
            {% else %}
                {% include "/includes/buttonSaveContinue.html" %}
            {% endif %}
						
        </form>

    </div>
</div>

{% endblock %}