{% extends "layouts/deliver.html" %}

{% set showBackLink = true %}
{% set showBackApplicationsLink = false %}

{% set pageSize = "xl" %}
{% set pageHeading = "What is the name of this grant?" %}
{% set pageSection = "Set up the grant" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection,pageSize) }}

        <p class="govuk-body">This should be the full and official name of the grant. Do not include abbreviations or acronyms.</p>

        {% if data['change'] == "yes" %}
        <form method="post" action="/funding/grant/add/summary">
			<input type="hidden" name="change" id="change" value="" />
      	{% else %}
        <form method="post" action="/funding/grant/add/description">
        {% endif %}

            {{ govukInput({
                label: {
                    text: "Grant name",
                    classes: "govuk-label govuk-visually-hidden",
                    isPageHeading: false
                },
                classes: "govuk-!-width-two-thirds",
                id: "grantName",
                name: "grantName",
                value: data['grantName']
            }) }}

            {{ govukButton({
                text: "Save and continue"
            }) }}
        </form>

    </div>
</div>

{% endblock %}