{% extends "layouts/deliver.html" %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}

{% set pageSize = "xl" %}
{% set pageHeading = "Check your answers" %}
{% if data['status'] == "view" %}
	{% set pageSection = "Grant set up" %}
{% else %}
	{% set pageSection = "Set up the grant" %}
	{% set pageHiddentext = "yes" %}
	{% set pageNested = "yes" %}
{% endif %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

        {{ macroPageHeader.pageHeader(pageNested,pageHeading,pageSection,pageHiddentext,pageSize) }}

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">GGIS reference number</dt>
				<dd class="govuk-summary-list__value">
					{% if data['grant-ggis'] == "Yes" %}
						{{ data['grant-ggisNumber'] or 123456789 }}
					{% else %}
						Not known
					{% endif %}
				</dd>
				<dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="/funding/grant/add/ggis-number?change=yes">Change<span class="govuk-visually-hidden"> the name of the grant</span></a></dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Grant name</dt>
				<dd class="govuk-summary-list__value">{{ data['grantName'] }}</dd>
				<dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="/funding/grant/add/name?change=yes">Change<span class="govuk-visually-hidden"> the name of the grant</span></a></dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Main purpose</dt>
				<dd class="govuk-summary-list__value">{{ data['grant-description'] }}</dd>
				<dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="/funding/grant/add/description?change=yes">Change<span class="govuk-visually-hidden"> the name of the grant</span></a></dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Main contact</dt>
				<dd class="govuk-summary-list__value">{{ data['grant-primaryContactName'] }}
					<br>{{ data['grant-primaryContactEmail'] }}
				</dd>
				<dd class="govuk-summary-list__actions"><a class="govuk-link govuk-link--no-visited-state" href="/funding/grant/add/primary-contact-details?change=yes">Change<span class="govuk-visually-hidden"> the name of the grant</span></a></dd>
			</div>
		</dl>
			
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">

	  			{% if data['status'] == "view" %}
				<form method="post" action="/funding/grant-management/">
            		<input type="hidden" name="change" id="change" value="" />
	  				{{ govukButton({
                		text: "Return to grant"
            		}) }}
				</form>
				{% else %}
        		<form method="post" action="/funding/grant/">
            		{{ govukButton({
                		text: "Confirm and set up grant"
            		}) }}
        		</form>
				{% endif %}
			</div>
		</div>

	</div>
</div>

{% endblock %}