{% extends "layout_with_back_nstf.html" %}

{% block pageTitle %}
  Your milestones
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">3.2 Milestones</span>
      <h1 class="govuk-heading-l">Proposal milestones</h1>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Milestone</th>
        <th scope="col" class="govuk-table__header">Date</th>
        <th scope="col" class="govuk-table__header">Action</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      {% for i in data.nstfMilestoneData %}
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">{{ i.output }}</th>
        <td class="govuk-table__cell">{{ i.month }}/{{ i.year }}</td>
        <td class="govuk-table__cell"><a href="milestones-loop/delete/{{ loop.index0 }}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="govuk-button-group">
    <a href="check-your-answers" class="govuk-button" data-module="govuk-button">
      Save and continue
    </a>
    <a href="milestones-add" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Add another
    </a>
  </div>
  </div>
</div>
{% endblock %}
