{% extends "layout_with_back_nstf.html" %}

{% block pageTitle %}
  Add milestones
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">3.2 Milestones</span>
      <h1 class="govuk-heading-l">Proposal milestones</h1>

      <form action="milestones-loop" method="post" novalidate>
      <div id="nstf-r2-milestone-type-hint" class="govuk-hint">
        Tell us your proposal's milestones up to, and including 2025.
       </div>
       <div id="nstf-r2-milestone-type-hint-2" class="govuk-hint">
        You can add more milestones on the next step.
       </div>

       <div class="govuk-form-group">
        <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="200">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="nstf-milestones-output">
              Milestone
            </label>
            <div id="nstf-milestones-date-hint" class="govuk-hint">
              For example, recruit member of staff
            </div>
            <textarea class="govuk-textarea govuk-js-character-count" id="nstf-milestones-output" name="nstfMilestone[output]" rows="4" aria-describedby="nstf-milestones-output-info"></textarea>
          </div>
        <div id="nstf-milestones-output-info" class="govuk-hint govuk-character-count__message">
          You can enter up to 200 words
        </div>
      </div>

    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="nstf-milestones-date-hint">
    <label class="govuk-label govuk-label--s">
      When will you reach this milestone?
      </label>
    <div id="nstf-milestones-date-hint" class="govuk-hint">
      For example, 3 2007
    </div>
    <div class="govuk-date-input" id="nstf-milestones-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="nstf-milestones-date-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="nstf-milestones-date-month" name="nstfMilestone[month]" type="number" inputmode="numeric" max="12">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="nstf-milestones-date-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="nstf-milestones-date-year" name="nstfMilestone[year]" type="number" inputmode="numeric" max="2025">
        </div>
      </div>
    </div>
  </fieldset>
</div>
</div>
    <button
      class="govuk-button govuk-button--secondary"
      data-module="govuk-button"
    >
      Add and continue
    </button>

    </form>
  </div>
</div>
{% endblock %}
