<div class="govuk-summary-card ">
    <div class="govuk-summary-card__title-wrapper summaryBackground">
        <h2 class="govuk-summary-card__title">Round 2</h2>
        <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link summaryLinkOveride" href="#">Manage tags<span class="govuk-visually-hidden"> of University of Gloucestershire (University of Gloucestershire)</span></a>
            </li>
          </ul>
    </div>
    <div class="govuk-summary-card__content">

        <!-- Tag for status -->
        <strong class="govuk-tag govuk-tag--blue overSize">ASSESSMENT ACTIVE</strong>
        <!-- // -->

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Application closing date</dt>
                <dd class="govuk-summary-list__value">17 February 2025 at 09:21am</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Applications submitted</dt>
                <dd class="govuk-summary-list__value">0</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Applications in progress</dt>
                <dd class="govuk-summary-list__value">0</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Applications not started</dt>
                <dd class="govuk-summary-list__value">0</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Applications completed but not submitted</dt>
                <dd class="govuk-summary-list__value">0</dd>
            </div>

        </dl>

        <a href="/assess/fund/">View all active assessments</a>
        <br>
        <br>
        <a href="#">View all closed assessments</a>
        <br>
        <br>
        <a href="#">Export application information</a>
        <br>
        <br>
        <a href="#">Export feedback survey responses</a>
        <br>
        <br>
        <a href="#">Assessment Tracker Export</a>
    </div>



</div>
