{% extends "layout_with_back_nstf.html" %}

{% block pageTitle %}
  Future specialist support 
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">3.4 Proposed services</span>
    <h1 class="govuk-heading-l">Who will your proposal provide targeted specialist support to?</h1>

    <form class="form" action="/future-specialist-support-answer" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="nstf-r2-future-specialist-support-hint">
         <div id="nstf-r2-future-specialist-support-hint" class="govuk-hint">
          Select all that apply.
         </div>
         <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
           <input class="govuk-checkboxes__input" id="nstf-r2-future-specialist-support" name="nstf-r2-future-specialist-support" type="checkbox" value="women" {{ checked('nstf-r2-future-specialist-support', 'women') }}>
           <label class="govuk-label govuk-checkboxes__label" for="nstf-r2-future-specialist-support">
            Women
           </label>
          </div>
          <div class="govuk-checkboxes__item">
           <input class="govuk-checkboxes__input" id="nstf-r2-future-specialist-support-2" name="nstf-r2-future-specialist-support-2" type="checkbox" value="domestic-abuse" {{ checked('nstf-r2-future-specialist-support-2', 'domestic-abuse') }}>
           <label class="govuk-label govuk-checkboxes__label" for="nstf-r2-future-specialist-support-2">
            Survivors of domestic abuse
           </label>
          </div>
          <div class="govuk-checkboxes__item">
           <input class="govuk-checkboxes__input" id="nstf-r2-future-specialist-support-3" name="nstf-r2-future-specialist-support-3" type="checkbox" value="minorities" {{ checked('nstf-r2-future-specialist-support-3', 'minorities') }}>
           <label class="govuk-label govuk-checkboxes__label" for="nstf-r2-future-specialist-support-3">
            Ethnic minorities
           </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nstf-r2-future-specialist-support-34" name="nstf-r2-future-specialist-support-4" type="checkbox" value="LGBT" {{ checked('nstf-r2-future-specialist-support-4', 'LGBT') }}>
            <label class="govuk-label govuk-checkboxes__label" for="nstf-r2-future-specialist-support-4">
              People who identify as LGBTQIA+ (lesbian, gay, bisexual, transgender, queer, intersex, asexual, and agender) 
            </label>
           </div>
           <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nstf-r2-future-specialist-support-5" name="nstf-r2-future-specialist-support-5" type="checkbox" value="non-uk" {{ checked('nstf-r2-future-specialist-support-5', 'non-uk') }}>
            <label class="govuk-label govuk-checkboxes__label" for="nstf-r2-future-specialist-support-5">
              Non-UK nationals with restricted eligibility to public funds
            </label>
           </div>
          <div class="govuk-checkboxes__item">
           <input class="govuk-checkboxes__input" id="nstf-r2-future-specialist-support-6" name="nstf-r2-future-specialist-support-6" type="checkbox" value="mental-health" data-behaviour="inreach" {{ checked('nstf-r2-future-specialist-support-6', 'mental-health') }}>
           <label class="govuk-label govuk-checkboxes__label" for="nstf-r2-future-specialist-support-6">
            People with mental health problems
           </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nstf-r2-future-specialist-support-5" name="nstf-r2-future-specialist-support-7" type="checkbox" value="social-care" {{ checked('nstf-r2-future-specialist-support-7', 'social-care') }}>
            <label class="govuk-label govuk-checkboxes__label" for="nstf-r2-future-specialist-support-5">
              People with social care needs
            </label>
           </div>
           <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nstf-r2-future-specialist-support-5" name="nstf-r2-future-specialist-support-8" type="checkbox" value="substance" {{ checked('nstf-r2-future-specialist-support-8', 'substance') }}>
            <label class="govuk-label govuk-checkboxes__label" for="nstf-r2-future-specialist-support-5">
              People experiencing substance misuse
            </label>
           </div>
           <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nstf-r2-future-specialist-support-5" name="nstf-r2-future-specialist-support-9" type="checkbox" value="disabled" {{ checked('nstf-r2-future-specialist-support-9', 'disabled') }}>
            <label class="govuk-label govuk-checkboxes__label" for="nstf-r2-future-specialist-support-5">
              Disabled people
            </label>
           </div>
           <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nstf-r2-future-specialist-support-5" name="nstf-r2-future-specialist-support-10" type="checkbox" value="other" {{ checked('nstf-r2-future-specialist-support-10', 'other') }}>
            <label class="govuk-label govuk-checkboxes__label" for="nstf-r2-future-specialist-support-5">
              Other
            </label>
           </div>
         </div>
        </fieldset>
       </div> 

      <div>
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </div>
    </form>

  </div>
{% endblock %}
