{% extends "layout_with_back_nstf.html" %}

{% block pageTitle %}
  Future other services
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">3.4 Proposed services</span>
    <h1 class="govuk-heading-l">Which other services will you use the funding to provide?</h1>

    <form action="specialist-support" class="form" method="post">

      <div class="govuk-form-group">
        <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="500">
          <div class="govuk-form-group">
            <textarea class="govuk-textarea govuk-js-character-count" id="nstf-r2-org-purpose" name="nstf-r2-org-purpose" rows="5" aria-describedby="nstf-r2-org-purpose-info">{{ data['nstf-r2-org-purpose'] }}</textarea>
          </div>
  
        <div id="nstf-r2-org-purpose-info" class="govuk-hint govuk-character-count__message">
          You can enter up to 500 words
        </div>
      </div>
  
      <div>
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </div>
    </form>

  </div>
{% endblock %}
