{% extends "layout_with_back_nstf.html" %}

{% block pageTitle %}
  Intro proposal
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">3.4 Proposed services</h1>

    <p class="govuk-body"><strong>In this section, we'll ask about:  </strong></p>
    <ul class="govuk-list govuk-list--bullet">
        <li>how your proposal will transform existing services
        <li> if you plan on making changes to existing services</li>
        <li>which groups your proposal will support</li>
    </ul>

    <a href="service-summary" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Continue
    </a>
  </div>
{% endblock %}
