{% extends "layout_with_back_nstf.html" %}

{% block pageTitle %}
  Proposal summary
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">3.4 Proposed services</span>
    <h1 class="govuk-heading-l">Tell us how your proposal will transform your existing services</h1>

    <form action="ns" class="form" method="post">

      <div class="govuk-form-group">
        <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="500">
          <div class="govuk-form-group">
            <textarea class="govuk-textarea govuk-js-character-count" id="nstf-r2-transform-services" name="nstf-r2-transform-services" rows="5" aria-describedby="nstf-r2-transform-services-info">{{ data['nstf-r2-transform-services'] }}</textarea>
          </div>
  
        <div id="nstf-r2-transform-services-info" class="govuk-hint govuk-character-count__message">
          You can enter up to 500 words
        </div>
      </div>
  
      <div>
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </div>
    </form>

  </div>
{% endblock %}
