{% extends "layout_nstf.html" %}

{% block pageTitle %}
  Check your answers | Staff and volunteers | NS Round 2 | Funding Service Design Beta
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: "Apply for funding to transform your night shelter services in England"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">1.4 Joint applications</span>
    <h1 class="govuk-heading-l">Check your answers</h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Is your application a joint bid in partnership with other organisations?
        </dt>
        <dd class="govuk-summary-list__value">
          {%if data['nstf-joint-bid'] == "yes" %}
          Yes
          {% else %}
          No
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="01-joint-bid"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {%if data['nstf-joint-bid'] == "yes" %}
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Partner organisation name
        </dt>
        <dd class="govuk-summary-list__value">
          {% for i in data.nstfPartnerData %}
          {{ i.name }} : {{ i.description }} </br>
          {% endfor %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="03-partner-loop"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {% endif %} 
      
    </dl>

    <form action="../../app-task-list-new" method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Do you want to mark this section as complete?
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
              id="1-4-complete"
              name="1-4-complete" type="radio" value="Yes" {{
              checked("1-4-complete", "Yes") }}>
              <label
                class="govuk-label govuk-radios__label"
                for="1-4-complete"
              >
                Yes, I’ve completed this section
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
              id="1-4-complete-2"
              name="1-4-complete" type="radio" value="No" {{
              checked("1-4-complete", "No") }}>
              <label
                class="govuk-label govuk-radios__label"
                for="1-4-complete-2"
              >
                No, I’ll come back to it later
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
