{% extends "layouts/main.html" %}

{% set pageHeading = "Name your application" %}
{% set pageSection = "" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <p class="govuk-body govuk-hint">This is what your application will be called and will help you find it when you save and return.</p>
        <p class="govuk-body govuk-hint">Choose a memorable name that describes your application.</p>

        {% if data['link'] == "change" %}
        <form method="post" action="/apply/application-name/check-your-answers?link=" >
        {% else %}
        <form method="post" action="/apply/application-name/check-your-answers" >
        {% endif %}


            {{ govukInput({
                label: {
                    text: "Name your application",
                    classes: "govuk-label govuk-visually-hidden",
                    isPageHeading: false
                },
                classes: "govuk-!-width-full",
                id: "applicationName",
                name: "applicationName",
                value: data['applicationName']
            }) }}

            <!-- Session information to say section started - but not completed -->
            <input type="hidden" id="section1_1Complete" name="section1_1Complete" value="Started" />

            {{ govukButton({
                text: "Continue"
            }) }}


        </form>

    </div>
</div>

{% endblock %}