{% extends "layout_with_back_nstf.html" %}

{% block pageTitle %}
  Current night shelter
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">2.2 Current services</span>
    <h1 class="govuk-heading-l">Night shelter or emergency accommodation</h1>

    <form action="nights-open-ns" class="form" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-label govuk-label--s">
            Is the night shelter or emergency accommodation communal?
          </legend>

          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="nstf-r3-communal-current" name="nstf-r3-communal-current" type="radio" value="Yes"{{checked("nstf-r3-communal-current", "Yes") }}>

              <label class="govuk-label govuk-radios__label" for="nstf-r3-communal-current">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="nstf-r3-communal-current-2" name="nstf-r3-communal-current" type="radio" value="No"{{checked("nstf-r3-communal-current", "No") }}>
              <label class="govuk-label govuk-radios__label" for="nstf-r3-communal-current-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-label govuk-label--s">
                Is the night shelter or emergency accommodation single room accommodation?
              </legend>
              <div id="data-example-hint" class="govuk-hint">
                A single room is separate living accommodation. It has a lockable door, four walls and a ceiling, secure window and appropriate ventilation. 
                <br>It also has access to cooking facilities and full bathroom facilities (single-use or shared). Cooking facilities are required unless this is explicitly indicated as unnecessary, for example in fully catered provision.
              </div>
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="nstf-r3-single-current" name="nstf-r3-single-current" type="radio" value="Yes"{{checked("nstf-r3-single-current", "Yes") }}>
                  <label class="govuk-label govuk-radios__label" for="nstf-r3-single-current">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="nstf-r3-single-current-2" name="nstf-r3-single-current" type="radio" value="No"{{checked("nstf-r3-single-current", "No") }}>
                  <label class="govuk-label govuk-radios__label" for="nstf-r3-single-current-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

      <div class="govuk-form-group">
        <label
        class="govuk-label govuk-label--s"
        for="project-description"
        >How many bed spaces did the night shelter or emergency accommodation provide from 1 April 2022 to 31 March 2023?</label>
        <input class="govuk-input govuk-input--width-5"
        id="nstf-r3-beds-current"
        name="nstf-r3-beds-current"
        type="text"
        spellcheck="false"
        value="{{ data['nstf-r3-beds-current'] }}"
        />
      </div>
      
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-label govuk-label--s">
            Is the night shelter or emergency accommodation used for SWEP (severe weather emergency protocol)?
          </legend>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="nstf-r3-swep-current" name="nstf-r3-swep-current" type="radio" value="Yes"{{checked("nstf-r3-swep-current", "Yes") }}>
              <label class="govuk-label govuk-radios__label" for="nstf-r3-swep-current">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="nstf-r3-swep-current-2" name="nstf-r3-swep-current" type="radio" value="No"{{checked("nstf-r3-swep-current", "No") }}>
              <label class="govuk-label govuk-radios__label" for="nstf-r3-swep-current-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-label govuk-label--s">
            Do you accept referrals from the local authority or other agencies for available bed spaces?
          </legend>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="nstf-r3-referral-current" name="nstf-r3-referral-current" type="radio" value="Yes"{{checked("nstf-r3-referral-current", "Yes") }}>
              <label class="govuk-label govuk-radios__label" for="nstf-r3-referral-current">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="nstf-r3-referral-current-2" name="nstf-r3-referral-current" type="radio" value="No"{{checked("nstf-r3-referral-current", "No") }}>
              <label class="govuk-label govuk-radios__label" for="nstf-r3-referral-current-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div>
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </div>
    </form>

  </div>
{% endblock %}
