{% extends "layout_with_back_nstf.html" %}

{% block pageTitle %}
  Date night shelter
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">2.2 Current services</span>
    <h1 class="govuk-heading-l">Have you provided a night shelter or emergency accommodation on or after 1 April 2019?</h1>

    <form action="/providing-ns-answer" class="form" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div id="data-example-hint" class="govuk-hint">
              Night shelter or emergency accommodation is a service with rapid access and a low barrier to entry for people experiencing rough sleeping or at imminent risk of rough sleeping.
            </div>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="nstf-r2-eligible-ns" name="nstf-r2-eligible-ns" type="radio" value="yes"{{ checked('nstf-r2-eligible-ns', 'yes') }}>
                <label class="govuk-label govuk-radios__label" for="nstf-r2-eligible-ns">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="nstf-r2-eligible-ns-2" name="nstf-r2-eligible-ns" type="radio" value="no"{{ checked('nstf-r2-eligible-ns', 'no') }}>
                <label class="govuk-label govuk-radios__label" for="nstf-r2-eligible-ns-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
  
      <div>
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </div>
    </form>

  </div>
{% endblock %}
