{% extends "layout_with_back_nstf.html" %}

{% block pageTitle %}
  Other services provided
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">2.2 Current services</span>
    <h1 class="govuk-heading-l">Do you currently provide any other services?</h1>

    <form action="/other-services-answer" class="form" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="nstf-r2-other-services" name="nstf-r2-other-services" type="radio" value="yes"{{ checked('nstf-r2-other-services', 'yes') }}>
                <label class="govuk-label govuk-radios__label" for="nstf-r2-other-services">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="nstf-r2-other-services-2" name="nstf-r2-other-services" type="radio" value="no"{{ checked('nstf-r2-other-services', 'no') }}>
                <label class="govuk-label govuk-radios__label" for="nstf-r2-other-services-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
  
      <div>
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </div>
    </form>

  </div>
{% endblock %}
