{% extends "layouts/grantManagement.html" %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}

{% set pageSize = "xl" %}
{% set pageHeading = "Users" %}
{% set pageSection = '' + data['grantProfile-name'] + '' %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div class="govuk-grid-row">
	        <div class="govuk-grid-column-two-thirds">

                {{ macroPageHeader.pageHeader(pageHeading,pageSection,pageSize) }}

            </div>
            <div class="govuk-grid-column-one-third">
                {% include "/funding/includes/switch_grants.html" %}
              </div>
        </div>


        <div class="govuk-grid-row">
	        <div class="govuk-grid-column-two-thirds">


                <form method="post" action="/users/add/" >
    {{ govukButton({
      text: "Add a new user"
    }) }}
	</form>


    <h2 class="govuk-heading-m govuk-!-margin-bottom-1 govuk-!-margin-top-5">Reporters</h2>

		{{ govukTable({
      		captionClasses: "govuk-table__caption--m",
      		head: [
        		{ text: "Name", classes: "govuk-!-width-one-quarter" },
        		{ text: "Email" },
        		{ text: "Permissions", classes: "govuk-!-width-one-quarter", format: "numeric" }
      		],
      		rows: [
        		[
          			{ html: '<a href="/users/edit">Gemma Currie</a>' },
          			{ text: "gemma.currie@localgov.co.uk" },
          			{ text: "Edit, Review", format: "numeric" }
        		],
        		[
          			{ html: '<a href="/users/edit">Sam Williams</a>' },
          			{ text: "sam.williams@localgov.co.uk" },
          			{ html: "Edit, Review", format: "numeric" }
        		],
        		[
          			{ html: '<a href="/users/edit">Gideon Goldberg</a>' },
          			{ text: "gideon.goldberg@localgov.co.uk" },
          			{ html: "Edit, Review", format: "numeric" }
        		]
      		]
    	}) }}


    	<h2 class="govuk-heading-m govuk-!-margin-bottom-1 govuk-!-margin-top-9">Sign-off</h2>
    	{{ govukTable({
      		captionClasses: "govuk-table__caption--m",
      		head: [
        		{ text: "Name", classes: "govuk-!-width-one-quarter" },
        		{ text: "Email" },
        		{ text: "Permissions", classes: "govuk-!-width-one-quarter", format: "numeric"  }
      		],
      		rows: [
        		[
          			{ html: '<a href="/users/edit">Kate Harries</a>' },
          			{ text: "kate.harries@localgov.co.uk" },
          			{ html: "Sign-off", format: "numeric" }
        		]
      		]
    	}) }}




            </div>
        </div>


    </div>
</div>

{% endblock %}


<!--
{ text: "Assess applications", href: "#" },
                { text: "Recipients", href: "#" },
                { text: "Payments", href: "#" },
                { text: "Reports", href: "#" } -->