{% extends "layout_with_back_nstf.html" %}

{% block pageTitle %}
  Intro organisation
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">1.1 Organisation information</h1>

    <p class="govuk-body"><strong>In this section, we'll ask about:  </strong></p>
    <ul class="govuk-list govuk-list--bullet">
        <li>organisation name</li>
        <li>organisation address</li>
        <li>region of England you work in</li>
        <li>organisation purpose</li>
        <li>organisation charitable objects</li>
        <li>organisation annual turnover</li>
        <li>membership organisations</li>
    </ul>

    <a href="org-details" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Continue
    </a>
  </div>
{% endblock %}
