{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}


{% set pageHeading = "Check your answers" %}
{% set pageSection = "" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <h2 class="govuk-heading-m">Your skills and experience</h2>


		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Has your organisation delivered projects like this before?</dt>
			  	<dd class="govuk-summary-list__value">{{ data['skillsDeliveredProjects'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/skills-and-experience/delivered-projects?link=change">Change<span class="govuk-visually-hidden"> Has your organisation delivered projects like this before?</span></a>
			  	</dd>
			</div>

			{% if data['skillsDeliveredProjects'] == "yes" %}
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Tell us about how your organisation has worked on similar previous projects</dt>
			  	<dd class="govuk-summary-list__value">{{ data['skillsDeliveredHow'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/skills-and-experience/tell-us-how?link=change">Change<span class="govuk-visually-hidden"> Tell us about how your organisation has worked on similar previous projects</span></a>
			  	</dd>
			</div>
			{% endif %}
		</dl>


		<form action="/apply/task-list" method="post" novalidate>

			<!-- Session information to inform although section is finished is it completed -->

			{{ govukRadios({
				classes: "govuk-radios--inline",
				name: "section3_1Complete",
				fieldset: {
					legend: {
						text: "Do you want to mark this section as complete?",
						isPageHeading: false,
						classes: "govuk-fieldset__legend--l"
					}
				},
				items: [
				{ value: "yes", text: "Yes", checked: checked("section3_1Complete", "yes")  },
				{ value: "no", text: "No", checked: checked("section3_1Complete", "no") }
				]
			}) }}

			{{ govukButton({
			text: "Save and continue"
			}) }}

		</form>

    </div>
  </div>
{% endblock %}
