{% extends "layouts/main.html" %}

{% set showBackLink = false %}


{% set pageHeading = "Check your answers" %}
{% set pageSection = "" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <h2 class="govuk-heading-m">Your skills and experience</h2>

      	{{ govukSummaryList({
        	rows: [
          		{ key: { text: "Has your organisation delivered projects like this before?" }, value: { text: data['skillsDeliveredProjects'] }, actions: { items: [ { href: "#", text: "Change", visuallyHiddenText: "Organisation name" } ] } },
				{ key: { text: "Tell us about how your organisation has worked on similar previous projects" }, value: { text: data['skillsDeliveredHow'] }, actions: { items: [ { href: "#", text: "Change", visuallyHiddenText: "Project sponsor first name" } ] } }

        	]
      	}) }}

		<form action="/apply/task-list" method="post" novalidate>

			<!-- Session information to inform although section is finished is it completed -->

			{{ govukRadios({
				classes: "govuk-radios--inline",
				name: "skillsExperienceComplete",
				fieldset: {
					legend: {
						text: "Do you want to mark this section as complete?",
						isPageHeading: false,
						classes: "govuk-fieldset__legend--l"
					}
				},
				items: [
				{ value: "yes", text: "Yes", checked: checked("skillsExperienceComplete", "yes")  },
				{ value: "no", text: "No", checked: checked("skillsExperienceComplete", "no") }
				]
			}) }}

			{{ govukButton({
			text: "Save and continue"
			}) }}

		</form>

    </div>
  </div>
{% endblock %}
