{% extends "layouts/main.html" %}

{% set pageHeading = "Your skills and experience" %}
{% set pageSection = "" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <p class="govuk-body govuk-!-font-weight-bold">In this section, we'll ask about:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>whether your organisation has delivered projects like this before </li>
            <li>information about the projects you've delivered before (if applicable) </li>
        </ul>

        <form method="post" action="/apply/skills-and-experience/delivered-projects?linkStatus=" >

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>

    </div>
</div>

{% endblock %}