{% extends "layouts/main.html" %}

{% set pageHeading = "Tell us about how your organisation has worked on similar previous projects" %}
{% set pageSection = "" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

		<p class="govuk-body govuk-hint">Tell us about:</p>
		<ul class="govuk-list govuk-list--bullet govuk-hint">
            <li>the scope of the project (for example, goals, outputs and outcomes)</li>
            <li>the value of the project (for example, cost savings)</li>
			<li>who was involved</li>
        </ul>

		{% if data['link'] == "change" %}
			<form method="post" action="/apply/skills-and-experience/check-your-answers?link=" >
        {% else %}
			<form method="post" action="/apply/skills-and-experience/check-your-answers" >
        {% endif %} 
        

			{{ govukCharacterCount({
				name: "skillsDeliveredHow",
				id: "skillsDeliveredHow",
				maxwords: 250,
				value: data['skillsDeliveredHow']  ,
				label: {
				  text: "Tell us about how your organisation has worked on similar previous projects",
				  classes: "govuk-label--l govuk-visually-hidden",
				  isPageHeading: false
				}
			  }) }}


            {{ govukButton({
                text: "Continue"
            }) }}
        </form>

    </div>
</div>

{% endblock %}