{% extends "layouts/grantManagement.html" %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}


{% set pageSize = "xl" %}
{% set pageHeading = "Grant profile created" %}
{% set pageSection = "" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


        {{ govukPanel({
            titleText: pageHeading,
            classes: "govuk-!-margin-bottom-7"            
        }) }}        

        <p class="govuk-body">We have sent you a confirmation email..</p>	
		
		<h2 class="govuk-heading-m">What happens next</h2>	
        <p>Our team will be in touch within 3 working days to let you know what you need to do next.</p>
        <p>If you have any questions in the meantime, contact us at ((email_address)).</p>
		
        <ul class="govuk-list">            
            <li><a class="govuk-link govuk-link--no-visited-state" href="/funding/grant-management/">Go to grant profile</a></li>            
            <li><a class="govuk-link govuk-link--no-visited-state" href="/funding/grant-management/grant/profile/name">Add another grant</a></li>
        </ul>
        
    </div>
</div>

{% endblock %}