{% extends "layouts/grantManagement.html" %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}


{% set pageSize = "xl" %}
{% set pageHeading = "What are the main objectives of this grant?" %}
{% set pageSection = "Set up a grant" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection,pageSize) }}

        <form method="post" action="/funding/grant-management/grant/profile/welsh">


        	{{ govukCharacterCount({
            	name: "grantProfile-description",
            	id: "grantProfile-description",
            	value: data.grantProfile-description,
            	maxwords: 200,
            	rows: 6,
            	hint: {
              		text: "Do not include personal information"
            	},
            	label: {
              		text: pageHeading,
              		classes: "govuk-label govuk-visually-hidden",
              		isPageHeading: false
            	}					
          	}) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>
    </div>
</div>

{% endblock %}
<!-- *bc* -->