{% extends "layouts/grantManagement.html" %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}


{% set pageSize = "xl" %}
{% set pageHeading = "Tell us what the grant is for" %}
{% set pageSection = "Add a grant" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection,pageSize) }}

        <form method="post" action="/funding/grant-management/grant/profile/summary">

            {{ govukTextarea({
                name: "grantProfile-description",
                id: "grantProfile-description",
                label: {
                  text: "Grant description?",
                  classes: "govuk-label govuk-visually-hidden",
                  isPageHeading: false
                },
                hint: {
                  text: "Do not include personal information"
                }
              }) }}


            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}