{% extends "layouts/grantManagement.html" %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}


{% set pageSize = "xl" %}
{% set pageHeading = "What is the Director General (DG) group?" %}
{% set pageSection = "Add a grant" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection,pageSize) }}



        {% if data['status'] == "change" %}
            <form method="post" action="/funding/grant-management/grant/profile/summary">
				<input type="hidden" name="status" id="status" value="" />
      	{% else %}
		  	<form method="post" action="/funding/grant-management/grant/profile/type">
      	{% endif %}

			{{ govukRadios({
				name: "grantProfile-dgGroup",
				id: "grantProfile-dgGroup",
				fieldset: {
					legend: {
						text: pageHeading,
						isPageHeading: true,
						classes: "govuk-fieldset__legend govuk-visually-hidden"
					}
				},
				items: [
					{ value: "Local Government and Public Service", text: "Local Government and Public Service", checked: checked("grantProfile-dgGroup", "Local Government and Public Service") },
					{ value: "Local Growth, Communities and Devolution", text: "Local Growth, Communities and Devolution", checked: checked("grantProfile-dgGroup", "Local Growth, Communities and Devolution") },
					{ value: "Safer and Greener Buildings", text: "Safer and Greener Buildings", checked: checked("grantProfile-dgGroup", "Safer and Greener Buildings") },
					{ value: "Regeneration, Housing and Planning", text: "Regeneration, Housing and Planning", checked: checked("grantProfile-dgGroup", "Regeneration, Housing and Planning") }
				]
			}) }}


            {{ govukButton({
                text: "Continue"
            }) }}

        </form>

    </div>
</div>

{% endblock %}

<!-- *bc* -->