{% extends "layouts/grantManagement.html" %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}


{% set pageSize = "xl" %}
{% set pageHeading = "Do you have a Government Grants Information System (GGIS) reference number?" %}
{% set pageSection = "Add a grant" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection,pageSize) }}

		<p>Some content to inform that the GGIS number will need to be provided before a certain event/action.{Kate}</p>

        {% if data['status'] == "change" %}
            <form method="post" action="/funding/grant-management/grant/profile/summary">
				<input type="hidden" name="status" id="status" value="" />
      	{% else %}
          	<form method="post" action="/funding/grant-management/grant/profile/name">
        {% endif %}

				{% set yesGGISHtml %}

					{{ govukInput({
						id: "grantProfile-ggisNumber",
						name: "grantProfile-ggisNumber",
						value: data['grantProfile-ggisNumber'],
						autocomplete: "number",
						spellcheck: false,
						classes: "govuk-!-width-two-thirds",
						label: {
							text: "GGIS reference number"
						},
						hint: {
							text: "For example, 12345-GC-2023 or GGIS-SCHEME-007."
						}
					}) }}

				{% endset -%}


				{% set noGGISHtml %}

					<p>This could have content to explain.</p>

				{% endset -%}



				{{ govukRadios({
					name: "grantProfile-ggis",
					id: "grantProfile-ggis",
					fieldset: {
						legend: {
							text: pageHeading,
							isPageHeading: true,
							classes: "govuk-fieldset__legend govuk-visually-hidden"
						}
					},
					items: [
						{ value: "Yes", text: "Yes", conditional: { html: yesGGISHtml }, checked: checked("grantProfile-ggis", "Yes") },
						{ value: "No~/funding/grant-management/grant/profile/cannot-continue", text: "No", checked: checked("grantProfile-ggis", "No") }
					]
				}) }}

            	{{ govukButton({
                	text: "Continue"
            	}) }}
        	</form>

    </div>
</div>

{% endblock %}

<!-- *bc* -->