{% extends "layouts/grantManagement.html" %}

{% set showBackLink = true %}
{% set showBackApplicationsLink = false %}


{% set pageSize = "xl" %}
{% set pageHeading = "What is the name of this grant?" %}
{% set pageSection = "Add a grant" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection,pageSize) }}

        <p>This should be the full and official name of the grant. Do not include abbreviations or acronyms.</p>

        <form method="post" action="/funding/grant-management/grant/profile/director-general-group">

            {{ govukInput({
                label: {
                    text: "Grant name",
                    classes: "govuk-label govuk-visually-hidden",
                    isPageHeading: false
                },
                classes: "govuk-!-width-two-thirds",
                id: "grantProfile-name",
                name: "grantProfile-name",
                value: data['grantProfile-name']
            }) }}



            {{ govukButton({
                text: "Save and continue"
            }) }}
        </form>

    </div>
</div>

{% endblock %}

<!-- *bc* -->