{% extends "layouts/grantManagement.html" %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}


{% set pageSize = "xl" %}
{% set pageHeading = "Do you need an application form?" %}
{% set pageSection = "Add a grant" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection,pageSize) }}

        <p>For example business case, application form.</p>

        <form method="post" action="/funding/grant-management/grant/profile/opening-date">

            




             {{ govukRadios({        
                classes: "govuk-radios--inline",        
                name: "grantProfile-preAward",
                fieldset: {
                    legend: {
                        text: pageHeading,
                        isPageHeading: false,
                        classes: "govuk-fieldset__legend govuk-visually-hidden"
                    }
                },
                items: [
                    { value: "yes", text: "Yes" },
                    { value: "no~/funding/grant-management/grant/profile/description", text: "No" }
                ]
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>

    </div>
</div>

{% endblock %}

<!-- *bc* -->