{% extends "layouts/grantManagement.html" %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}


{% set pageSize = "xl" %}
{% set pageHeading = "Which services does the grant need?" %}
{% set pageSection = "Set up a grant" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection,pageSize) }}

        <form method="post" action="/funding/grant-management/grant/profile/opening-date">

            {{ govukCheckboxes({
                name: "grantProfile-monitoring",
                fieldset: {
                    legend: {
                        text: pageHeading,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend govuk-visually-hidden"
                    }
                },
                hint: {
                    text: "Select all that apply"
                },
                items: [
                    { value: "carcasses", text: "Assessment" },
                    { value: "mines", text: "Payments" },
                    { value: "farm", text: "Reporting" }
                ]
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}
            
        </form>

    </div>
</div>

{% endblock %}

<!-- *bc* -->