{% extends "layouts/grantManagement.html" %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}


{% set pageSize = "xl" %}
{% set pageHeading = "Tell us about the grant" %}
{% set pageSection = "Set up the grant" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection,pageSize) }}

		<p>You'll need to enter information including:</p>

		<ul class="govuk-list govuk-list--bullet">
			<li>Government Grants Information System (GGIS) number</li>
			<li>grant contact details</li>
		</ul>

      	<form method="post" action="/funding/grant-management/grant/profile/ggis-number" >

			{{ govukButton({
        		text: "Continue",
				classes: "govuk-!-margin-top-5"
      		}) }}

		</form>



  	</div>
</div>

{% endblock %}
