{% extends "layouts/grantManagement.html" %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}


{% set pageSize = "xl" %}
{% set pageHeading = "What’s the full name and email address of the Senior Officer Responsible (SOR)?" %}
{% set pageSection = "Add a grant" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection,pageSize) }}

        <p>All government grants require a named senior officer responsible (SOR) who is responsible and accountable for the succesful delivery of the grant.</p>

        <form method="post" action="/funding/grant-management/grant/profile/services">


            {{ govukInput({
                label: {
                    text: "Full name",
                    classes: "govuk-label",
                    isPageHeading: false
                },
                classes: "govuk-!-width-two-thirds",
                id: "grantProfile-sroName",
                name: "grantProfile-sroName",
                type: "text"
            }) }}

            {{ govukInput({
                label: {
                    text: "Email address",
                    classes: "govuk-label",
                    isPageHeading: false
                },
                classes: "govuk-!-width-two-thirds",
                id: "grantProfile-sroEmail",
                name: "grantProfile-sroEmail",
                type: "text"
            }) }}




            {{ govukButton({
                text: "Continue"
            }) }}
        </form>

    </div>
</div>

{% endblock %}

<!-- *bc* -->