{% extends "layouts/grantManagement.html" %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}


{% set pageSize = "xl" %}
{% set pageHeading = "Check your answers" %}
{% set pageSection = "Add a grant" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection,pageSize) }}

        {{ govukSummaryList({
            rows: [
                
                { key: { text: "Name" }, value: { text: data['grantProfile-name'] }, actions: { items: [ { href: "/funding/grant-management/grant/profile/name", text: "Change", visuallyHiddenText: "name of the grant" }] } }
            ]
        }) }}

        <form method="post" action="/funding/grant-management/grant/profile/confirmation">
            {{ govukButton({
                text: "Confirm and submit"
            }) }}
        </form>
    </div>
</div>

{% endblock %}