{% extends "layouts/grantManagement.html" %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}


{% set pageSize = "xl" %}
{% set pageHeading = "Check your answers" %}
{% set pageSection = "Set up a grant" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection,pageSize) }}

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Grant name</dt>
				<dd class="govuk-summary-list__value">{{ data.grantName }}</dd>
				<dd class="govuk-summary-list__actions"><a class="govuk-link" href="/grant/profile/name?status=change">Change<span class="govuk-visually-hidden"> the name of the grant</span></a></dd>
			</div>

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Directorate group</dt>
				<dd class="govuk-summary-list__value">{{ data.grantDirectorate }}</dd>
				<dd class="govuk-summary-list__actions"><a class="govuk-link" href="/grant/profile/directorate?status=change">Change<span class="govuk-visually-hidden"> the name of the grant</span></a></dd>
			</div>

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Main objectives</dt>
				<dd class="govuk-summary-list__value">{{ data.grantDescription }}</dd>
				<dd class="govuk-summary-list__actions"><a class="govuk-link" href="/grant/profile/description?status=change">Change<span class="govuk-visually-hidden"> the name of the grant</span></a></dd>
			</div>

			
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">GGIS reference number</dt>				
				<dd class="govuk-summary-list__value">
					{% if data['grantTrackerKnown'] == "Yes" %}
						{{ data.grantGGISreference }}				
					{% else %}
						Not known
					{% endif %}
				</dd>
				<dd class="govuk-summary-list__actions"><a class="govuk-link" href="/grant/profile/ggid-reference?status=change">Change<span class="govuk-visually-hidden"> the name of the grant</span></a></dd>
			</div>
			

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Senior Officer Responsible (SOR)</dt>
				<dd class="govuk-summary-list__value">{{ data.grantSORName }}</dd>
				<dd class="govuk-summary-list__actions"><a class="govuk-link" href="/grant/profile/senior-officer?status=change">Change<span class="govuk-visually-hidden"> the name of the grant</span></a></dd>
			</div>

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">SOR’s email address</dt>
				<dd class="govuk-summary-list__value">{{ data.grantSOREmail }}</dd>
				<dd class="govuk-summary-list__actions"><a class="govuk-link" href="/grant/profile/senior-officer-email?status=change">Change<span class="govuk-visually-hidden"> the name of the grant</span></a></dd>
			</div>

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Funding type</dt>
				<dd class="govuk-summary-list__value">{{ data.grantFundingType }}</dd>
				<dd class="govuk-summary-list__actions"><a class="govuk-link" href="/grant/profile/allocation-method?status=change">Change<span class="govuk-visually-hidden"> the name of the grant</span></a></dd>
			</div>


			{% if data['grantFundingType'] != "Allocative" %}

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Opening date for applications</dt>
				<dd class="govuk-summary-list__value">
					{{ data['grantDateOpen-month'] | toMonth }} {{ data['grantDateOpen-year'] }}
					


				</dd>
				<!-- <dd class="govuk-summary-list__value">{{ data.grantDateOpen-month | toMonth }} {{ data.grantDateOpen-year }}</dd> -->
				<dd class="govuk-summary-list__actions"><a class="govuk-link" href="/grant/profile/date-open?status=change">Change<span class="govuk-visually-hidden"> the name of the grant</span></a></dd>
			</div>

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Closing date for applications</dt>
				<dd class="govuk-summary-list__value">{{ data['grantDateClose-month'] | toMonth }} {{ data['grantDateClose-year'] }}</dd>
					<!-- <dd class="govuk-summary-list__value">{{ data.grantDateClose-month | toMonth }}{{ data.grantDateClose-year }} -->				
				<dd class="govuk-summary-list__actions"><a class="govuk-link" href="/grant/profile/date-closed?status=change">Change<span class="govuk-visually-hidden"> the name of the grant</span></a></dd>
			</div>
			{% endif %}



			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">International (non-UK) grant</dt>
				<dd class="govuk-summary-list__value">{{ data.grantInternational }}</dd>
				<dd class="govuk-summary-list__actions"><a class="govuk-link" href="/grant/profile/non-uk-fund?status=change">Change<span class="govuk-visually-hidden"> the name of the grant</span></a></dd>
			</div>

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Welsh translation</dt>
				<dd class="govuk-summary-list__value">{{ data.grantWelsh }}</dd>
				<dd class="govuk-summary-list__actions"><a class="govuk-link" href="/grant/profile/welsh?status=change">Change<span class="govuk-visually-hidden"> the name of the grant</span></a></dd>
			</div>
		</dl>		      

      <p>
        Save the grant details to let us know you have completed them. You can edit and update your grant details at any time by going to 'Grant profile' in your account.
      </p>

     

        <form method="post" action="/funding/grant-management/grant/profile/confirmation">
            <input type="hidden" name="reportStatus" id="reportStatus" value="Sent" />
            {{ govukButton({
                text: "Save grant details"
            }) }}
        </form>
    </div>
</div>

{% endblock %}