{% extends "layouts/grantManagement.html" %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}


{% set pageSize = "xl" %}
{% set pageHeading = "Grant type" %}
{% set pageSection = "Add a grant" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection,pageSize) }}

        <form method="post" action="/funding/grant-management/grant/profile/ggis-number">

            {{ govukRadios({                
                name: "grantProfile-type",
                fieldset: {
                    legend: {
                        text: pageHeading,
                        isPageHeading: false,
                        classes: "govuk-fieldset__legend govuk-visually-hidden"
                    }
                },
                items: [
                    { value: "option1", text: "Option 1" },
                    { value: "option2", text: "Option 2" }
                ]
            }) }}


            {{ govukButton({
                text: "Continue"
            }) }}
        </form>

    </div>
</div>

{% endblock %}