{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}

{% set pageHeading = "Email sent" %}
{% set pageSection = "" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <p>We have sent an email to <span class="govuk-!-font-weight-bold">{{ data['magicLinkEmail'] or "test@apply.mhclg.gov.uk"  }}</span></p>

        <h2 class="govuk-heading-m">What happens next</h2>
        <p>Use the link to confirm your email address and start a new application, or continue any applications you have in progress.</p>
        <p>The link will work once and stop working after 24 hours.</p>


        <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                If you do not receive an email
              </span>
            </summary>
            <div class="govuk-details__text">
                <p>The email may take a few minutes to arrive.</p>
                <p>Check your spam or junk folders – if it still has not arrived, you can <a href="/apply/email-address">request a new link</a>.</p>
            </div>
          </details>


          <p class="govuk-body-s govuk-!-margin-top-9"><a href="/apply/email">continue to view sent email</a></p>

    </div>
</div>

{% endblock %}