{% extends "layouts/main.html" %}

{% set showBackLink = false %}

{% if data['fundName'] == "High Street Rental Auctions" %}
    {% set pageHeading = "Start or continue an application for funding to cover the cost of delivering a High Street Rental Auction" %}
    {% set pageSection = "High Street Rental Auctions fund Refurbishment project" %}
{% elif data['fundName'] == "Community Ownership" %}
    {% set pageHeading = "Start or continue an application for funding to save an asset in your community" %}
    {% set pageSection = "Community Ownership Fund Round 4 Window 1" %}
{% elif data['fundName'] == "Digital Planning Improvement" %}
    {% set pageHeading = "Application for funding to begin your digital planning improvement journey" %}
    {% set pageSection = "Digital Planning Improvement Fund {{ data.fundRound }}" %}
{% else %}
    {% set pageHeading = "Start or continue an application for {fund details}" %}
    {% set pageSection = "Fund name and round information" %}
{% endif %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

		<details class="govuk-details">
			<summary class="govuk-details__summary">
			  <span class="govuk-details__summary-text">
				Help with filling out your application
			  </span>
			</summary>
			<div class="govuk-details__text">
				<h2 class="govuk-heading-s">What we’ll ask you for</h2>
				<p>We have outlined the information needed to complete the application form in our <a href="https://www.localdigital.gov.uk/digital-planning/digital-planning-improvement-fund-2024/">prospectus</a>. If you have not received the prospectus, contact digitalplanningteam@communities.gov.uk.</p>
				<p>You can <a href="#" class="govuk-link">preview the full list of application questions</a>.</p>


				<h2 class="govuk-heading-s">Moving through the form</h2>
				<p>The form is split into sections based on how it will be assessed.</p>
				<p>You do not have to complete it in order, or all at once.</p>
				<p>When you have written something in a field in every section, the section will be marked as complete. You can still change your responses in sections that are marked as complete.</p>


				<h2 class="govuk-heading-s">Saving progress and making changes</h2>
				<p>Your work will not save automatically. To make sure you do not lose anything, select Save and continue regularly, and always before you go back or close your internet browser window.</p>
				<p>If you need to edit or revisit any sections, use the browser back button.</p>
				<p>You can edit your responses as many times as you like before you submit.</p>


				<h2 class="govuk-heading-s">Submitting your application</h2>
				<p>When you have completed all sections, you’ll be able to submit your application.</p>
				<p>Once you have submitted your application, you’ll not be able to edit, add or change any section.</p>


				<h2 class="govuk-heading-s">Get help</h2>
				<p>If you have questions about the form or the fund, <a href="https://frontend.uat.access-funding.test.levellingup.gov.uk/contact_us?fund=DPIF&round=R3" class="govuk-link">contact us</a></p>
				<p>Do not send any applications or attachments through the support desk. We'll only accept applications through this service.</p>

	<!--
				<h2 class="govuk-heading-m">Get help</h2>
				<p>If you have any questions about the form or the fund, email us at <a href = "mailto:emailaddress@levellingup.gov.uk" class="govuk-link">emailaddress@levellingup.gov.uk</a>.</p>
				<p>Do not send any applications or attachments by email. We'll only accept applications through this service.</p> -->

				<h2 class="govuk-heading-s">How we’ll use your information</h2>
				<p>Read how we’ll use the information from your application in our <a href="#" class="govuk-link">privacy notice</a></p>
			</div>
		  </details>




		<p><strong>Submission deadline:</strong> 31 January 2025 at 11:59am
		<br><span><strong>Reference:</strong> DPIF-R3-IQPIJK</span>

		{% if data['statusApplication'] == "Complete" %}

		</p>
		<div class="govuk-inset-text blue govuk-!-padding-bottom-7 govuk-!-margin-bottom-8">
			<h2 class="govuk-heading-l">All sections complete</h2>
			<p>You can submit your application when you are ready.</p>
			<p>Once your application has been submitted, you cannot change your answers.</p>

			{{ govukButton({
                text: "Submit your application"
            }) }}

		</div>

		{% else %}

		<br><span><strong>Status:</strong></span> {{ govukTag({ text: "Not Started", classes: "govuk-tag--grey"  }) }}</p>

		<p>None of the sections have been completed.</p>

		{% endif %}


        {% set completedStatus = { text: "Completed" } %}
		{% set notstartedStatus = { tag: { text: "Not Started", classes: "govuk-tag--grey" } } %}
      	{% set incompleteStatus = { tag: { text: "In Progress", classes: "govuk-tag--blue" } } %}

      	{# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}

		<h2 class="govuk-heading-m">1. Before you start</h2>
      	{{ govukTaskList({
        	idPrefix: "first-section",
        	items: [
          		{ title: { text: "1.1 Name your application" }, href: "/apply/application-name/", status: ( completedStatus if data['applicationNameComplete'] == "yes" else notstartedStatus ) }

        	]
      	}) }}

		  <h2 class="govuk-heading-m">2. About your organisation</h2>
      	{{ govukTaskList({
        	idPrefix: "first-section",
        	items: [
          		{ title: { text: "2.1 Organisation information" }, href: "/apply/organisation/", status: ( completedStatus if data['organisationDetailsComplete'] == "yes" else notstartedStatus ) }
        	]
      	}) }}

		  <h2 class="govuk-heading-m">3. Your skills and experience</h2>
      	{{ govukTaskList({
        	idPrefix: "first-section",
        	items: [
          		{ title: { text: "3.1 Your skills and experience" }, href: "/apply/skills-and-experience/", status: ( completedStatus if data['skillsExperienceComplete'] == "yes" else notstartedStatus ) },
				{ title: { text: "3.2 Roles and recruitment" }, href: "/apply/roles-and-recruitment/", status: ( completedStatus if data['rolesRecruitmentComplete'] == "yes" else notstartedStatus ) }
        	]
      	}) }}

		  <h2 class="govuk-heading-m">4. About your project</h2>
      	{{ govukTaskList({
        	idPrefix: "first-section",
        	items: [
          		{ title: { text: "4.1 Engaging the ODP (Open Digital Planning) community" }, href: "/apply/engaging-digital-planning/", status: ( completedStatus if data['engagingDigitalPlanningComplete'] == "yes" else notstartedStatus ) },
				{ title: { text: "4.2 Engaging the organisation" }, href: "/apply/engaging-the-organisation/", status: ( completedStatus if data['engagingOrganisationComplete'] == "yes" else notstartedStatus ) },
				{ title: { text: "4.3 Dataset information" }, href: "/apply/dataset-information/", status: ( completedStatus if data['engagingOrganisationComplete'] == "yes" else notstartedStatus ) }
        	]
      	}) }}

		  <h2 class="govuk-heading-m">5. Future work</h2>
      	{{ govukTaskList({
        	idPrefix: "first-section",
        	items: [
          		{ title: { text: "5.1 Future work" }, href: "/apply/future-work/", status: ( completedStatus if data['futureWorComplete'] == "yes" else notstartedStatus ) }
        	]
      	}) }}

		  <h2 class="govuk-heading-m">6. Declarations</h2>
      	{{ govukTaskList({
        	idPrefix: "first-section",
        	items: [
          		{ title: { text: "6.1 Declarations" }, href: "/apply/declarations/", status: ( completedStatus if data['declarationsComplete'] == "yes" else notstartedStatus ) }
        	]
      	}) }}

      	<!-- <div class="govuk-!-margin-top-5">
        	{{ govukButton({ text: "Apply", href: "#" }) }}
      	</div> -->

    </div>
  </div>
{% endblock %}