{% extends "layouts/main.html" %}

{% set showBackLink = false %}

<!-- Set statuses -->
{% set completedStatus = { text: "Completed" } %}
{% set notstartedStatus = { tag: { text: "Not Started", classes: "govuk-tag--grey" } } %}
{% set incompleteStatus = { tag: { text: "In Progress", classes: "govuk-tag--blue" } } %}
<!-- // -->


{% if data['fundName'] == "High Street Rental Auctions" %}
    {% set pageHeading = "Start or continue an application for funding to cover the cost of delivering a High Street Rental Auction" %}
    {% set pageSection = "High Street Rental Auctions fund Refurbishment project" %}
{% elif data['fundName'] == "Community Ownership" %}
    {% set pageHeading = "Start or continue an application for funding to save an asset in your community" %}
    {% set pageSection = 'Community Ownership Fund ' + data.fundRound + '' %}
{% elif data['fundName'] == "Digital Planning Improvement" %}
    {% set pageHeading = "Application for funding to begin your digital planning improvement journey" %}
    {% set pageSection = 'Digital Planning Improvement Fund ' + data.fundRound + '' %}
{% else %}
    {% set pageHeading = "Start or continue an application for {fund details}" %}
    {% set pageSection = "Fund name and round information" %}
{% endif %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

		<!-- Help details content -->
		{% include "/apply/includes/help-with-application.html" %}
		<!-- // -->

		<!-- Fund date and reference -->
		<p><strong>Submission deadline:</strong> {{ data.fundDeadlineDate }}
		<br><span><strong>Reference:</strong> DPIF-R3-IQPIJK</span>
		<!-- // -->


		<!-- Application status -->
		{% if data['statusApplication'] == "Complete" %}

		</p>
		<div class="govuk-inset-text blue govuk-!-padding-bottom-7 govuk-!-margin-bottom-8">
			<h2 class="govuk-heading-l">All sections complete</h2>
			<p>You can submit your application when you are ready.</p>
			<p>Once your application has been submitted, you cannot change your answers.</p>

			<form method="post" action="" >

				{{ govukButton({
                	text: "Submit your application"
            	}) }}

			</form>
		</div>

		{% else %}

			<br><span><strong>Status:</strong></span> {{ govukTag({ text: "Not Started", classes: "govuk-tag--grey"  }) }}</p>
			<p>None of the sections have been completed.</p>

		{% endif %}
		<!-- // -->




      	{# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}

		<!-- Task lists dependent on fund -->
		{% if data['fundName'] == "High Street Rental Auctions" %}

	  	{% elif data['fundName'] == "Community Ownership" %}

	  	{% elif data['fundName'] == "Digital Planning Improvement" %}

			{% include "/apply/includes/taskDPI.html" %}

	  	{% else %}
			<p>You have not set which fund you are dealing with.</p>
	  	{% endif %}
		<!-- // task list -->






      	<!-- <div class="govuk-!-margin-top-5">
        	{{ govukButton({ text: "Apply", href: "#" }) }}
      	</div> -->

    </div>
  </div>
{% endblock %}