{% extends "layouts/main.html" %}

{% set showBackLink = false %}


{% set pageHeading = "Check your answers" %}
{% set pageSection = "" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <h2 class="govuk-heading-m">Roles and recruitment</h2>


		<dl class="govuk-summary-list">
			<!-- Group -->
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Do you have a team in place ready to deliver the project?</dt>
			  	<dd class="govuk-summary-list__value">{{ data['rolesTeam'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/roles-and-recruitment/team?link=change">Change<span class="govuk-visually-hidden"> Has your organisation delivered projects like this before?</span></a>
			  	</dd>
			</div>				
			{% if data['rolesTeam'] == "no" %}
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">How will you make sure you have a team in place ready to deliver the project?</dt>
			  	<dd class="govuk-summary-list__value">{{ data['rolesTeamInPlace'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/roles-and-recruitment/team-in-place?link=change">Change<span class="govuk-visually-hidden"> Tell us about how your organisation has worked on similar previous projects</span></a>
			  	</dd>
			</div>
			{% endif %}
			<!-- // -->

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Tell us about the shape of the project team</dt>
			  	<dd class="govuk-summary-list__value">{{ data['rolesTeamInfo'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/roles-and-recruitment/tell-us-about-the-team?link=change">Change<span class="govuk-visually-hidden"> Tell us about how your organisation has worked on similar previous projects</span></a>
			  	</dd>
			</div>

			<!-- Group -->
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Will you need to backfill any roles in your organisation?</dt>
			  	<dd class="govuk-summary-list__value">{{ data['rolesTeamBackfill'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/roles-and-recruitment/backfill?link=change">Change<span class="govuk-visually-hidden"> Tell us about how your organisation has worked on similar previous projects</span></a>
			  	</dd>
			</div>		
			{% if data['rolesTeamBackfill'] == "yes" %}
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">What is the estimated cost of backfilling roles?</dt>
			  	<dd class="govuk-summary-list__value">&pound;{{ data['rolesEstimatedCost'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/roles-and-recruitment/team?link=change">Change<span class="govuk-visually-hidden"> Tell us about how your organisation has worked on similar previous projects</span></a>
			  	</dd>
			</div>
			{% endif %}
			<!-- // -->

			<!-- Group -->
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Do you know who the project lead will be?</dt>
			  	<dd class="govuk-summary-list__value">{{ data['rolesTeamProjectLead'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/roles-and-recruitment/project-lead?link=change">Change<span class="govuk-visually-hidden"> Tell us about how your organisation has worked on similar previous projects</span></a>
			  	</dd>
			</div>

			{% if data['rolesTeamProjectLead'] == "yes" %}
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Project lead first name</dt>
			  	<dd class="govuk-summary-list__value">{{ data['rolesProjectLeadFirstName'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/roles-and-recruitment/team?link=change">Change<span class="govuk-visually-hidden"> Tell us about how your organisation has worked on similar previous projects</span></a>
			  	</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Project lead last name</dt>
			  	<dd class="govuk-summary-list__value">{{ data['rolesProjectLeadLastName'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/roles-and-recruitment/team?link=change">Change<span class="govuk-visually-hidden"> Tell us about how your organisation has worked on similar previous projects</span></a>
			  	</dd>
			</div>	
			{% endif %}
			<!-- // -->
			
		</dl>
      	

		<form action="/apply/task-list" method="post" novalidate>
			
			<!-- Session information to inform although section is finished is it completed -->
			 
			{{ govukRadios({
				classes: "govuk-radios--inline",
				name: "rolesRecruitmentComplete",
				fieldset: {
					legend: {
						text: "Do you want to mark this section as complete?",
						isPageHeading: false,
						classes: "govuk-fieldset__legend--l"
					}
				},
				items: [
				{ value: "yes", text: "Yes", checked: checked("rolesRecruitmentComplete", "yes")  },
				{ value: "no", text: "No", checked: checked("rolesRecruitmentComplete", "no") }
				]
			}) }}

			{{ govukButton({
			text: "Save and continue"
			}) }}

		</form>

    </div>
  </div>
{% endblock %}
