{% extends "layouts/main.html" %}

{% set showBackLink = false %}


{% set pageHeading = "Check your answers" %}
{% set pageSection = "" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <h2 class="govuk-heading-m">Roles and recruitment</h2>

      	{{ govukSummaryList({
        	rows: [
          		{ key: { text: "Do you have a team in place ready to deliver the project?" }, value: { text: data['rolesTeam'] }, actions: { items: [ { href: "#", text: "Change", visuallyHiddenText: "Organisation name" } ] } },
				{ key: { text: "How will you make sure you have a team in place ready to deliver the project?" }, value: { text: data['rolesTeamInPlace'] }, actions: { items: [ { href: "#", text: "Change", visuallyHiddenText: "Project sponsor first name" } ] } },
				{ key: { text: "Tell us about the shape of the project team" }, value: { text: data['rolesTeamInfo'] }, actions: { items: [ { href: "#", text: "Change", visuallyHiddenText: "Project sponsor first name" } ] } },
				{ key: { text: "Will you need to backfill any roles in your organisation?" }, value: { text: data['rolesTeamBackfill'] }, actions: { items: [ { href: "#", text: "Change", visuallyHiddenText: "Project sponsor first name" } ] } },
				{ key: { text: "What is the estimated cost of backfilling roles?" }, value: { text: '£' + data['rolesEstimatedCost'] }, actions: { items: [ { href: "#", text: "Change", visuallyHiddenText: "Project sponsor first name" } ] } },
				{ key: { text: "Do you know who the project lead will be?" }, value: { text: data['rolesTeamProjectLead'] }, actions: { items: [ { href: "#", text: "Change", visuallyHiddenText: "Project sponsor first name" } ] } },
				{ key: { text: "Project lead first name" }, value: { text: data['rolesProjectLeadFirstName'] }, actions: { items: [ { href: "#", text: "Change", visuallyHiddenText: "Project sponsor first name" } ] } },
				{ key: { text: "Project lead last name" }, value: { text: data['rolesProjectLeadLastName'] }, actions: { items: [ { href: "#", text: "Change", visuallyHiddenText: "Project sponsor first name" } ] } }

        	]
      	}) }}

		<form action="/apply/task-list" method="post" novalidate>

			{{ govukRadios({
				classes: "govuk-radios--inline",
				name: "rolesRecruitmentComplete",
				fieldset: {
					legend: {
						text: "Do you want to mark this section as complete?",
						isPageHeading: false,
						classes: "govuk-fieldset__legend--l"
					}
				},
				items: [
				{ value: "yes", text: "Yes", checked: checked("rolesRecruitmentComplete", "yes")  },
				{ value: "no", text: "No", checked: checked("rolesRecruitmentComplete", "no") }
				]
			}) }}

			{{ govukButton({
			text: "Save and continue"
			}) }}

		</form>

    </div>
  </div>
{% endblock %}
