{% extends "layouts/main.html" %}

{% set pageHeading = "Roles and recruitment" %}
{% set pageSection = "" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


        <p class="govuk-body govuk-!-font-weight-bold">In this section, we'll ask about:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>whether you have a team in place ready to deliver the project</li>
            <li>how you will make sure you have a team in place ready to deliver the project (if applicable)</li>
            <li>who’s involved in the project team and how it’s structured (if applicable)</li>
            <li>whether you need to backfill any roles in the organisation</li>
            <li>the estimated cost of backfilling roles (if applicable)</li>
            <li>whether you know who the project lead will be</li>
            <li>who the project lead will be (if applicable)</li>
        </ul>


        <form method="post" action="/apply/roles-and-recruitment/team" >


            {{ govukButton({
                text: "Continue"
            }) }}
        </form>

    </div>
</div>

{% endblock %}