{% extends "layout_with_back_nstf.html" %}

{% block pageTitle %}
  Length of trading
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">1.2 Organisation information</span>
    <h1 class="govuk-heading-l">How long has your organisation been operating?</h1>

  <form action="/nstf-r2-org-trading-answer" class="form" method="post">
      
      <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="nstf-r2-org-trading-hint">
      
            <div id="nstf-r2-org-trading-hint" class="govuk-hint">
              Select one option
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="nstf-r2-org-trading" name="nstf-r2-org-trading" type="radio" value="trading-01" {{ checked("nstf-r2-org-trading", "trading-01") }}>
                <label class="govuk-label govuk-radios__label" for="nstf-r2-org-trading">
                  More than 3 years
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="nstf-r2-org-trading-2" name="nstf-r2-org-trading" type="radio" value="trading-02" {{ checked("nstf-r2-org-trading", "trading-02") }}>
                <label class="govuk-label govuk-radios__label" for="nstf-r2-org-trading-2">
                  More than 2 years, but less than 3
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="nstf-r2-org-trading-3" name="nstf-r2-org-trading" type="radio" value="trading-03" {{ checked("nstf-r2-org-trading", "trading-03") }}>
                <label class="govuk-label govuk-radios__label" for="nstf-r2-org-trading-3">
                  Less than 2 years
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>
  

    <div>
      <button class="govuk-button" data-module="govuk-button">Save and continue</button>
    </div>
  </form>
  
</div>
{% endblock %}
