{% extends "layouts/grantManagement.html" %}

{% set navID = 'grantDetails' %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}

{% set pageSize = "xl" %}
{% set pageHeading = "Grant details" %}
{% set pageSection = '' + data['grantName'] + '' %}
{% set pageHidden = "yes" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div class="govuk-grid-row">
	        <div class="govuk-grid-column-two-thirds">

                {{ macroPageHeader.pageHeader(pageNested,pageHeading,pageSection,pageHidden,pageSize) }}

				{% set completedStatus = { text: "Completed" } %}
      			{% set incompleteStatus = {
        			tag: { text: "Incomplete", classes: "govuk-tag--blue" }
      			} %}

				<!-- To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" -->

				<h2 class="govuk-heading-m">[ Heading for first set of tasks ]</h2>
      			{{ govukTaskList({
        			idPrefix: "first-section",
        			items: [
          				{ title: { text: "Set up the grant" }, href: "/funding/grant/details/setup/summary", status: completedStatus },
          				{ title: { text: "Name of second task" }, href: "#", status: incompleteStatus },
          				{ title: { text: "Name of third task" }, href: "#", status: incompleteStatus },
          				{ title: { text: "Name of fifth task" }, href: "#", status: incompleteStatus },
          				{ title: { text: "Name of sixth task" }, href: "#", status: incompleteStatus },
          				{ title: { text: "Name of seventh task" }, href: "#", status: incompleteStatus },
          				{ title: { text: "Name of eighth task" }, href: "#", status: incompleteStatus }
        			]
      			}) }}

				<h2 class="govuk-heading-m">[ Heading for second set of tasks ]</h2>
      			{{ govukTaskList({
        			idPrefix: "first-section",
        			items: [
          				{ title: { text: "Name of first task" }, href: "#", status: incompleteStatus },
						{ title: { text: "Name of second task" }, href: "#", status: incompleteStatus },
          				{ title: { text: "Name of third task" }, href: "#", status: incompleteStatus }

        			]
      			}) }}

            </div>
        </div>


    </div>
</div>

{% endblock %}