{% extends "layouts/main.html" %}

{% set pageHeading = "Future work" %}
{% set pageSection = "" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        
        <p class="govuk-body govuk-!-font-weight-bold">In this section, we'll ask about:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>which software improvements you are interested in working on in the future </li>
            
        </ul>
        

        <form method="post" action="/future-work/software-improvements" >       
            
            
            {{ govukButton({
                text: "Continue"
            }) }}    
        </form>

    </div>
</div>

{% endblock %}