{% extends "layout_with_back_nstf.html" %}

{% block pageTitle %}
  Outputs and outcomes
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">4.1 Outputs and outcome</span>
    <h1 class="govuk-heading-l">Who your proposal will support</h1>

    <form action="check-your-answers" class="form" method="post">
      
      <div class="govuk-form-group">
        <h2 class="govuk-heading-m">How many people will the proposal support with the funding?</h1>
          <label class="govuk-label" for="nstf-r2-proposal-support">
            1 April 2023 to 31 March 2024
          </label>
        <input class="govuk-input govuk-input--width-10" id="nstf-r2-proposal-support" name="nstf-r2-proposal-support" type="text" value="{{ data['nstf-r2-proposal-support'] }}">
      </div>
     
      <div class="govuk-form-group">
        <label class="govuk-label" for="nstf-r2-proposal-support-2">
           1 April 2024 to 31 March 2025
        </label>
        <input class="govuk-input govuk-input--width-10" id="nstf-r2-proposal-support-2" name="nstf-r2-proposal-support-2" type="text" value="{{ data['nstf-r2-proposal-support-2'] }}">
      </div>

      <div class="govuk-form-group">
        <h2 class="govuk-heading-m">How many people with restricted eligibility will the proposal support?</h1>
          <label class="govuk-label" for="nstf-r2-restricted-eligibility">
            1 April 2023 to 31 March 2024
          </label>
        <input class="govuk-input govuk-input--width-10" id="nstf-r2-restricted-eligibility" name="nstf-r2-restricted-eligibility" type="text" value="{{ data['nstf-r2-restricted-eligibility'] }}">
      </div>
     
      <div class="govuk-form-group">
        <label class="govuk-label" for="nstf-r2-restricted-eligibility-2">
          1 April 2024 to 31 March 2025
        </label>
        <input class="govuk-input govuk-input--width-10" id="nstf-r2-restricted-eligibility-2" name="nstf-r2-restricted-eligibility-2" type="text" value="{{ data['nstf-r2-restricted-eligibility-2'] }}">
      </div>

<div>

    <div>
      <button class="govuk-button" data-module="govuk-button">Save and continue</button>
    </div>
  </form>
  
</div>
{% endblock %}