{% extends "layouts/main.html" %}

{% set pageHeading = "What’s the funding type for this grant?" %}
{% set pageSection = "Create a grant profile" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}  
          
      {% if data['status'] == "change" %}
      		<form class="form" action="/grant/profile/check-your-answers" method="post">
				<input type="hidden" name="status" id="status" value="" />
      	{% else %}
      <form class="form" action="/grant/profile/date-open" method="post">
      {% endif %}

        {{ govukRadios({                   
          name: "grantFundingType",
          id: "grantFundingType",
          fieldset: {
            legend: {
            text: "Select an option to update your RIBA reporting stage",
            isPageHeading: true,
            classes: "govuk-fieldset__legend govuk-visually-hidden"
            }
          },
          items: [
            { value: "Allocative~/grant/profile/non-uk-fund", text: "Allocative", checked: checked("grantFundingType", "Allocative") },
            { value: "Competed", text: "Competed", checked: checked("grantFundingType", "Competed") },
            { value: "Formula based", text: "Formula based", checked: checked("grantFundingType", "Formula based") },
            { value: "Criteria based", text: "Criteria based", checked: checked("grantFundingType", "Criteria based") },
            { value: "Mixed expression of interest", text: "Mixed expression of interest", checked: checked("grantFundingType", "Mixed expression of interest") }            
          ]
        }) }}


        

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
