{% extends "layouts/main.html" %}

{% set pageHeading = "Do you have a Government Grants Information System (GGIS) reference number?" %}
{% set pageSection = "Create a grant profile" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    	{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}  
      
      
      
      {% if data['status'] == "change" %}
      		<form class="form" action="/grant/profile/check-your-answers" method="post">
				<input type="hidden" name="status" id="status" value="" />
      	{% else %}
      <form class="form" action="/grant/profile/senior-officer" method="post">
        {% endif %}

        {% set emailHtml %}
{{ govukInput({
  id: "grantGGISreference",
  name: "grantGGISreference",
  type: "number",
  value: data.grantGGISreference,
  autocomplete: "number",
  spellcheck: false,
  classes: "govuk-!-width-two-thirds",
  label: {
    text: "GGIS reference number"
  }
}) }}
{% endset -%}



        {{ govukRadios({          
          name: "grantTrackerKnown",
          id: "grantTrackerKnown",
          fieldset: {
            legend: {
            text: "Select an option to update your RIBA reporting stage",
            isPageHeading: true,
            classes: "govuk-fieldset__legend govuk-visually-hidden"
            }
          },
          items: [
            { value: "Yes", text: "Yes", conditional: { html: emailHtml }, checked: checked("grantTrackerKnown", "Yes") },
            { value: "No", text: "No", checked: checked("grantTrackerKnown", "No") }            
          ]
        }) }}


        

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
