{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}


{% set pageHeading = "Check your answers" %}
{% set pageSection = "" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <h2 class="govuk-heading-m">Organisation information</h2>

		<dl class="govuk-summary-list">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Organisation name</dt>
			  	<dd class="govuk-summary-list__value">{{ data['orgName'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/organisation/name?link=change">Change<span class="govuk-visually-hidden"> organisation name</span></a>
			  	</dd>
			</div>								
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Project sponsor first name</dt>
			  	<dd class="govuk-summary-list__value">{{ data['projectSponsorFirstName'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/organisation/project-sponsor?link=change">Change<span class="govuk-visually-hidden"> project sponsor’s first name</span></a>
			  	</dd>
			</div>								
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Project sponsor last name</dt>
			  	<dd class="govuk-summary-list__value">{{ data['projectSponsorLasttName'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/organisation/project-sponsor?link=change">Change<span class="govuk-visually-hidden"> project sponsor’s last name</span></a>
			  	</dd>
			</div>								
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Project sponsor email address</dt>
			  	<dd class="govuk-summary-list__value">{{ data['projectSponsorEmail'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/organisation/project-sponsor?link=change">Change<span class="govuk-visually-hidden"> project sponsor’s email address</span></a>
			  	</dd>
			</div>								
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Project sponsor telephone number</dt>
			  	<dd class="govuk-summary-list__value">{{ data['projectSponsorTelephone'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/organisation/project-sponsor?link=change">Change<span class="govuk-visually-hidden"> project sponsor’s telephone number</span></a>
			  	</dd>
			</div>								
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Section 151 officer first name</dt>
			  	<dd class="govuk-summary-list__value">{{ data['section151FirstName'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/organisation/section-151?link=change">Change<span class="govuk-visually-hidden"> section 151 officer’s first name</span></a>
			  	</dd>
			</div>								
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Section 151 officer last name</dt>
			  	<dd class="govuk-summary-list__value">{{ data['section151LastName'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/organisation/section-151?link=change">Change<span class="govuk-visually-hidden"> section 151 officer’s last name</span></a>
			  	</dd>
			</div>								
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Section 151 officer email address</dt>
			  	<dd class="govuk-summary-list__value">{{ data['section151Email'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/organisation/section-151?link=change">Change<span class="govuk-visually-hidden"> section 151 officer’s email address</span></a>
			  	</dd>
			</div>								
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Section 151 officer telephone number</dt>
			  	<dd class="govuk-summary-list__value">{{ data['section151Telephone'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/organisation/section-151?link=change">Change<span class="govuk-visually-hidden"> section 151 officer’s telephone number</span></a>
			  	</dd>
			</div>								
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Lead contact first name</dt>
			  	<dd class="govuk-summary-list__value">{{ data['leadContactFirstName'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/organisation/lead-contact?link=change">Change<span class="govuk-visually-hidden"> lead contact’s first name</span></a>
			  	</dd>
			</div>								
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Lead contact last name</dt>
			  	<dd class="govuk-summary-list__value">{{ data['leadContactLasttName'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/organisation/lead-contact?link=change">Change<span class="govuk-visually-hidden"> lead contact’s last name</span></a>
			  	</dd>
			</div>								
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Lead contact’s job title</dt>
			  	<dd class="govuk-summary-list__value">{{ data['leadContactJobTitle'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/organisation/lead-contact?link=change">Change<span class="govuk-visually-hidden"> lead contact’s job title</span></a>
			  	</dd>
			</div>								
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Lead contact email address</dt>
			  	<dd class="govuk-summary-list__value">{{ data['leadContactEmail'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/organisation/lead-contact?link=change">Change<span class="govuk-visually-hidden"> lead contact’s email address</span></a>
			  	</dd>
			</div>								
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Lead contact telephone number</dt>
			  	<dd class="govuk-summary-list__value">{{ data['leadContactTelephone'] }}</dd>
			  	<dd class="govuk-summary-list__actions">
					<a class="govuk-link" href="/apply/organisation/lead-contact?link=change">Change<span class="govuk-visually-hidden"> lead contact’s telephone number</span></a>
			  	</dd>
			</div>						
		</dl>
      	

		<form action="/apply/task-list" method="post" novalidate>

			<!-- Session information to inform although section is finished is it completed -->
			{{ govukRadios({
				classes: "govuk-radios--inline",
				name: "organisationDetailsComplete",
				fieldset: {
					legend: {
						text: "Do you want to mark this section as complete?",
						isPageHeading: false,
						classes: "govuk-fieldset__legend--l"
					}
				},
				items: [
				{ value: "yes", text: "Yes", checked: checked("organisationDetailsComplete", "yes")  },
				{ value: "no", text: "No", checked: checked("organisationDetailsComplete", "no") }
				]
			}) }}

			{{ govukButton({
			text: "Save and continue"
			}) }}

		</form>

    </div>
  </div>
{% endblock %}
