{% extends "layouts/main.html" %}

{% set pageHeading = "Lead contact details" %}
{% set pageSection = "" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <p class="govuk-body">The lead contact will receive all the information about this application.</p>

        {% if data['linkStatus'] == "change" %}
            <form method="post" action="/apply/organisation/check-your-answers?linkStatus=" >
        {% else %}
            <form method="post" action="/apply/organisation/check-your-answers" >
        {% endif %}

            {{ govukInput({
                label: {
                    text: "Lead contact first name",
                    classes: "govuk-label--s",
                    isPageHeading: false
                },
                classes: "govuk-!-width-two-thirds",
                id: "2_1_contactFirstName",
                name: "2_1_contactFirstName",
                value: data['2_1_contactFirstName'],
                spellcheck: "false"
            }) }}

            {{ govukInput({
                label: {
                    text: "Lead contact last name",
                    classes: "govuk-label--s",
                    isPageHeading: false
                },
                classes: "govuk-!-width-two-thirds",
                id: "2_1_contactLastName",
                name: "2_1_contactLastName",
                value: data['2_1_contactLastName'],
                spellcheck: "false"
            }) }}

            {{ govukInput({
                label: {
                    text: "Lead contact job title",
                    classes: "govuk-label--s",
                    isPageHeading: false
                },
                classes: "govuk-!-width-two-thirds",
                id: "2_1_contactJobTitle",
                name: "2_1_contactJobTitle",
                value: data['2_1_contactJobTitle'],
                spellcheck: "false"
            }) }}

            {{ govukInput({
                label: {
                    text: "Lead contact email address",
                    classes: "govuk-label--s",
                    isPageHeading: false
                },
                classes: "govuk-!-width-two-thirds",
                id: "2_1_contactEmail",
                name: "2_1_contactEmail",
                value: data['2_1_contactEmail'],
                type: "email",
                autocomplete: "email",
                spellcheck: "false"
            }) }}

            {{ govukInput({
                label: {
                    text: "Lead contact telephone number",
                    classes: "govuk-label--s",
                    isPageHeading: false
                },
                classes: "govuk-!-width-one-third",
                id: "2_1_contactPhone",
                name: "2_1_contactPhone",
                value: data['2_1_contactPhone'],
                type: "tel",
                autocomplete: "tel"
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}


        </form>

    </div>
</div>

{% endblock %}