{% extends "layouts/main.html" %}

{% set pageHeading = "Organisation name" %}
{% set pageSection = "" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


        <p class="govuk-hint">This must match your registered legal organisation name</p>

        <form method="post" action="/apply/organisation/project-sponsor" >

            {{ govukInput({
                label: {
                    text: "Name your application",
                    classes: "govuk-label govuk-visually-hidden",
                    isPageHeading: false
                },
                classes: "govuk-!-width-two-thirds",
                id: "orgName",
                name: "orgName",
                value: data['orgName']
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}


        </form>

    </div>
</div>

{% endblock %}