{% extends "layouts/main.html" %}

{% set pageHeading = "Section 151 officer details" %}
{% set pageSection = "" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        {% if data['linkStatus'] == "change" %}
            <form method="post" action="/apply/organisation/check-your-answers?linkStatus=" >
        {% else %}
            <form method="post" action="/apply/organisation/lead-contact" >
        {% endif %}

            {{ govukInput({
                label: {
                    text: "Section 151 officer first name",
                    classes: "govuk-label--s",
                    isPageHeading: false
                },
                classes: "govuk-!-width-two-thirds",
                id: "2_1_section151FirstName",
                name: "2_1_section151FirstName",
                value: data['2_1_section151FirstName'],
                spellcheck: "false"
            }) }}

            {{ govukInput({
                label: {
                    text: "Section 151 officer last name",
                    classes: "govuk-label--s",
                    isPageHeading: false
                },
                classes: "govuk-!-width-two-thirds",
                id: "2_1_section151LastName",
                name: "2_1_section151LastName",
                value: data['2_1_section151LastName'],
                spellcheck: "false"
            }) }}

            {{ govukInput({
                label: {
                    text: "Section 151 officer email address",
                    classes: "govuk-label--s",
                    isPageHeading: false
                },
                classes: "govuk-!-width-two-thirds",
                id: "2_1_section151Email",
                name: "2_1_section151Email",
                value: data['2_1_section151Email'],
                type: "email",
                autocomplete: "email",
                spellcheck: "false"
            }) }}

            {{ govukInput({
                label: {
                    text: "Section 151 officer telephone number",
                    classes: "govuk-label--s",
                    isPageHeading: false
                },
                classes: "govuk-!-width-one-third",
                id: "2_1_section151Phone",
                name: "2_1_section151Phone",
                value: data['2_1_section151Phone'],
                type: "tel",
                autocomplete: "tel"
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}


        </form>

    </div>
</div>

{% endblock %}