{% extends "layouts/signedin.html" %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}

{% set completedStatus = { text: "Completed" } %}
{% set notstartedStatus = { tag: { text: "Not Started", classes: "govuk-tag--grey" } } %}
{% set incompleteStatus = { tag: { text: "In Progress", classes: "govuk-tag--blue" } } %}


{% if data['fundName'] == "High Street Rental Auctions" %}
    {% set pageHeading = "Your applications for High Street Rental Auction" %}
    {% set pageSection = "High Street Rental Auctions fund Refurbishment project" %}
{% elif data['fundName'] == "Community Ownership" %}
    {% set pageHeading = "Your applications for funding to save an asset in your community" %}
    {% set pageSection = "Community Ownership Fund Round 4 Window 1" %}
{% elif data['fundName'] == "Digital Planning Improvement" %}
    {% set pageHeading = "Your applications for Digital Planning Improvement Fund" %}
    {% set pageSection = "" %}
{% else %}
    {% set pageHeading = "Your applications for {fund details}" %}
    {% set pageSection = "Fund name and round information" %}
{% endif %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


        <!-- Dynamic data -->
        <p>You have started {{ data.applicationsStarted }} applications using this email address.</p>
        <span class="govuk-caption-m">{{ data.fundName }}</span>
        <h2 class="govuk-heading-l">{{ data.fundRound }}</h2>
        <p>Deadline for applications: {{ data.fundDeadlineDate | govukDateTime }}</p>
        <!-- // -->

        {% if data['fundName'] == "High Street Rental Auctions" %}

        {% elif data['fundName'] == "Community Ownership" %}

        {% elif data['fundName'] == "Digital Planning Improvement" %}

            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Applications</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Project name</th>
                        <th scope="col" class="govuk-table__header">Status</th>
                        <th scope="col" class="govuk-table__header">Last edited</th>
                        <th scope="col" class="govuk-table__header">Application Reference</th>
                        <th scope="col" class="govuk-table__header">Action</th>
                    </tr>
                </thead>

                {% if data['applicationsStarted'] != "0" %}
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Untitled project</th>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">
                            Not Started
                          </strong></td>
                        <td class="govuk-table__cell">29 January 2025 at 9:01am</td>
                        <td class="govuk-table__cell">DPIF-R3-FMWFZS</td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="/apply/task-list">Continue application</a></td>
                    </tr>
                </tbody>
                {% endif %}
            </table>

        {% endif %}

        <form method="post" action="/apply/task-list" >
            {{ govukButton({
                text: "Start new application"
            }) }}
        </form>


        {{ "2024-05-04" | daysAgo }}



    </div>
</div>

{% endblock %}