{% extends "layouts/signedin.html" %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}

{% set completedStatus = { text: "Completed" } %}
{% set notstartedStatus = { tag: { text: "Not Started", classes: "govuk-tag--grey" } } %}
{% set incompleteStatus = { tag: { text: "In Progress", classes: "govuk-tag--blue" } } %}

{% if data['fundName'] == "High Street Rental Auctions" %}
    {% set pageHeading = "Start or continue an application for funding to cover the cost of delivering a High Street Rental Auction" %}
    {% set pageSection = "High Street Rental Auctions fund Refurbishment project" %}
{% elif data['fundName'] == "Community Ownership" %}
    {% set pageHeading = "Start or continue an application for funding to save an asset in your community" %}
    {% set pageSection = "Community Ownership Fund Round 4 Window 1" %}
{% elif data['fundName'] == "Digital Planning Improvement" %}
    {% set pageHeading = "Your applications for Digital Planning Improvement Fund" %}
    {% set pageSection = "" %}
{% else %}
    {% set pageHeading = "Start or continue an application for {fund details}" %}
    {% set pageSection = "Fund name and round information" %}
{% endif %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">



        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        {% if data['fundName'] == "High Street Rental Auctions" %}

            <p><a href="https://www.gov.uk/government/publications/high-street-rental-auctions-grants-for-local-authorities/high-street-rental-auctions-fund-prospectus" class="govuk-link">Read the fund's prospectus</a> before you apply.</p>
            <p><strong>Submission deadline:</strong> 01 February 2025 at 11:59am</p>

            {{ govukButton({
                text: "Enter your email address",
                href: "/apply/email-address",
                isStartButton: true
            }) }}


            <h2 class="govuk-heading-m">Get help</h2>
            <p>If you need help, contact us through our <a href="https://mhclgdigital.atlassian.net/servicedesk/customer/portal/5/group/68" class="govuk-link">support desk</a></p>
            <p>Do not send any applications or attachments through the support desk. We'll only accept applications through this service.</p>


        {% elif data['fundName'] == "Community Ownership" %}

        <p><strong>Submission deadline:</strong> 26 January 2025 at 11:59am</p>

        {% elif data['fundName'] == "Digital Planning Improvement" %}

            <!-- Dynamic data -->
            <p>You have started {{ data.applicationsStarted }} applications using this email address.</p>
            <span class="govuk-caption-m">{{ data.fundName }}</span>
            <h2 class="govuk-heading-l">{{ data.fundRound }}</h2>
            <p>Deadline for applications: {{ data.fundDeadlineDate }}</p>
            <!-- // -->

            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Applications</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Project name</th>
                        <th scope="col" class="govuk-table__header">Status</th>
                        <th scope="col" class="govuk-table__header">Last edited</th>
                        <th scope="col" class="govuk-table__header">Application Reference</th>
                        <th scope="col" class="govuk-table__header">Action</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Untitled project</th>
                        <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">
                            Not Started
                          </strong></td>
                        <td class="govuk-table__cell">29 January 2025 at 9:01am</td>
                        <td class="govuk-table__cell">DPIF-R3-FMWFZS</td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="/apply/task-list">Continue application</a></td>
                    </tr>

                </tbody>
            </table>


            <form method="post" action="/apply/task-list" >

                {{ govukButton({
                    text: "Start new application",
                    classes: "govuk-button--secondary"
                }) }}

            </form>




        {% else %}

        <p><strong>Submission deadline:</strong> 26 January 2025 at 11:59am</p>

        {% endif %}










    </div>
</div>

{% endblock %}