{% extends "layouts/main.html" %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}


{% if data['fundName'] == "High Street Rental Auctions" %}
    {% set pageHeading = "Your applications for High Street Rental Auction" %}
    {% set pageSection = "High Street Rental Auctions fund Refurbishment project" %}
{% elif data['fundName'] == "Community Ownership Fund" %}
    {% set pageHeading = "Your applications for Community Ownership Fund" %}
    {% set pageSection = "Community Ownership Fund Round 4 Window 1" %}
{% elif data['fundName'] == "Digital Planning Improvement" %}
    {% set pageHeading = "Your applications for Digital Planning Improvement Fund" %}
    {% set pageSection = "" %}
{% else %}
    {% set pageHeading = "Your applications for {fund details}" %}
    {% set pageSection = "Fund name and round information" %}
{% endif %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}


        <!-- Dynamic data -->


        <!-- // -->

        {% if data['fundName'] == "High Street Rental Auctions" %}

        {% elif data['fundName'] == "Community Ownership Fund" %}

            <p>You have started {{ data.applicationsStarted }} applications using this email address.</p>

            <p>This service is also available <a href="https://frontend.test.access-funding.test.levellingup.gov.uk/funding-round/cof/r4w1">in Welsh (Cymraeg)</a>.</p>
            {{ govukWarningText({
                text: "You cannot change the language of an existing application.",
                iconFallbackText: "Warning"
            }) }}

            <span class="govuk-caption-m">{{ data.fundName }}</span>
            <h2 class="govuk-heading-l">{{ data.fundRound }}</h2>
            <p>Deadline for applications: {{ data.fundDeadlineDate | govukDateTime }}</p>


        {% elif data['fundName'] == "Digital Planning Improvement" %}

            <p>You have started {{ data.applicationsStarted }} applications using this email address.</p>
            <span class="govuk-caption-m">{{ data.fundName }}</span>
            <h2 class="govuk-heading-l">{{ data.fundRound }}</h2>
            <p>Deadline for applications: {{ data.fundDeadlineDate | govukDateTime }}</p>

            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Applications</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Project name</th>
                        <th scope="col" class="govuk-table__header">Status</th>
                        <th scope="col" class="govuk-table__header">Last edited</th>
                        <th scope="col" class="govuk-table__header">Application Reference</th>
                        <th scope="col" class="govuk-table__header">Action</th>
                    </tr>
                </thead>

                {% if (
                    (data['section1_1'] == "yes") or
                    ( data['section2_1'] == "yes") or
                    ( data['section3_1'] == "yes") or
                    ( data['section3_2'] == "yes") or
                    ( data['section4_1'] == "yes") or
                    ( data['section4_2'] == "yes") or
                    ( data['section4_3'] == "yes") or
                    ( data['section5_1'] == "yes") or
                    ( data['section6_1'] == "yes")) %}
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">{{ data.1_1_applicationName }}</th>
                        <td class="govuk-table__cell">

                            {% if data.applicationStatus %}
                                Submitted
                            {% else %}
                            <strong class="govuk-tag">
                                {% if (
                                    (data['section1_1'] == "yes") and
                                    ( data['section2_1'] == "yes") and
                                    ( data['section3_1'] == "yes") and
                                    ( data['section3_2'] == "yes") and
                                    ( data['section4_1'] == "yes") and
                                    ( data['section4_2'] == "yes") and
                                    ( data['section4_3'] == "yes") and
                                    ( data['section5_1'] == "yes") and
                                    ( data['section6_1'] == "yes")) %}
                                    Ready To Submit
                                {% else %}
                                    In Progress
                                {% endif %}
                            </strong>
                            {% endif %}
                          </td>
                        <td class="govuk-table__cell">29 January 2025 at 9:01am</td>
                        <td class="govuk-table__cell">DPIF-R3-FMWFZS</td>
                        <td class="govuk-table__cell">
                            {% if data.applicationStatus %}

                            {% else %}
                            <a class="govuk-link" href="/apply/task-list">Continue application</a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
                {% endif %}
            </table>

        {% endif %}

        <form method="post" action="/apply/task-list" >

            {% if (
                (data['section1_1'] == "yes") or
                ( data['section2_1'] == "yes") or
                ( data['section3_1'] == "yes") or
                ( data['section3_2'] == "yes") or
                ( data['section4_1'] == "yes") or
                ( data['section4_2'] == "yes") or
                ( data['section4_3'] == "yes") or
                ( data['section5_1'] == "yes") or
                ( data['section6_1'] == "yes")) %}

                    {{ govukButton({
                        text: "Start new application",
                        classes: "govuk-button--secondary"
                    }) }}

                {% else %}
                    {{ govukButton({
                        text: "Start new application"
                    }) }}
                {% endif %}
        </form>

    </div>
</div>

{% endblock %}