{% extends "layout_nstf.html" %}

{% block pageTitle %}
  Check your answers 
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: "Apply for funding to transform your night shelter services in England"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">6.1 Funding required</span>
    <h1 class="govuk-heading-l">Check your answers</h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Which funding are you applying for?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['nstf-funding-type'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="01-funding-type"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {% if data['nstf-revenue-total-2324'] %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Revenue for 1 April 2023 to 31 March 2024
        </dt>
        <dd class="govuk-summary-list__value">
          £{{ data['nstf-revenue-total-2324'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          {% if data['nstf-funding-type'] == "Both revenue and capital" %}
          <a
            class="govuk-link"
            href="00-both-amount"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
          {% else %}
          <a
            class="govuk-link"
            href="revenue/01-revenue-amount"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
          {% endif %}
        </dd>
      </div>
      {% endif %}
      {% if data['nstf-revenue-total-2425'] %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Revenue for 1 April 2024 to 31 March 2025
        </dt>
        <dd class="govuk-summary-list__value">
          £{{ data['nstf-revenue-total-2425'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          {% if data['nstf-funding-type'] == "Both revenue and capital" %}
          <a
            class="govuk-link"
            href="00-both-amount"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
          {% else %}
          <a
            class="govuk-link"
            href="revenue/01-revenue-amount"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
          {% endif %}
        </dd>
      </div>
      {% endif %}
      {% if data['nstf-capital-total-2324'] %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Capital for 1 April 2023 to 31 March 2024
        </dt>
        <dd class="govuk-summary-list__value">
          £{{ data['nstf-capital-total-2324'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          {% if data['nstf-funding-type'] == "Both revenue and capital" %}
          <a
            class="govuk-link"
            href="00-both-amount"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
          {% else %}
          <a
            class="govuk-link"
            href="capital/01-capital-amount"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
          {% endif %}
        </dd>
      </div>
      {% endif %}
      {% if data['nstf-capital-total-2425'] %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Capital for 1 April 2024 to 31 March 2025
        </dt>
        <dd class="govuk-summary-list__value">
          £{{ data['nstf-capital-total-2425'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          {% if data['nstf-funding-type'] == "Both revenue and capital" %}
          <a
            class="govuk-link"
            href="00-both-amount"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
          {% else %}
          <a
            class="govuk-link"
            href="capital/01-capital-amount"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
          {% endif %}
        </dd>
      </div>
      {% endif %}
      {% if data.nstfRevenueData.length !== 0 %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Revenue costs
        </dt>
        <dd class="govuk-summary-list__value">
          {% for i in data.nstfRevenueData %}
         {{ i.name }} : £{{ i.amount }} : {{ i.year }} : {{ i.calculated }} </br>
          {% endfor %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="revenue/03-revenue-loop"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {% endif %}
      {% if data.nstfCapitalData.length !== 0  %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Capital costs
        </dt>
        <dd class="govuk-summary-list__value">
          {% for i in data.nstfCapitalData %}
          {{ i.name }} : £{{ i.amount }}: {{ i.year }} : {{ i.calculated }} </br>
          {% endfor %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="capital/03-capital-loop"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {% endif %}
    </dl>

    <form action="../../app-task-list-new" method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Do you want to mark this section as complete?
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
              id="6-1-complete"
              name="6-1-complete" type="radio" value="Yes" {{
              checked("6-1-complete", "Yes") }}>
              <label
                class="govuk-label govuk-radios__label"
                for="6-1-complete"
              >
                Yes, I’ve completed this section
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
              id="6-1-complete-2"
              name="6-1-complete" type="radio" value="No" {{
              checked("6-1-complete", "No") }}>
              <label
                class="govuk-label govuk-radios__label"
                for="6-1-complete-2"
              >
                No, I’ll come back to it later
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
