{% extends "layout_nstf.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">1.3 Applicant information</span>
    <h1 class="govuk-heading-l">Check your answers</h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Name of lead contact
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['nstf-r2-lead-name'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="lead-contact"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
   
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Lead contact job title
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['nstf-r2-lead-job'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="lead-contact"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
   
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Lead contact email address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['nstf-r2-lead-email'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="lead-contact"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
   
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Lead contact telephone number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['nstf-r2-lead-telephone'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="lead-contact"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Is the lead contact the same person as the authorised signatory?
        </dt>
        <dd class="govuk-summary-list__value">
          {%if data['nstf-r2-signatory'] == "yes" %}
          Yes
         {% else %}
         No
         {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="lead-contact"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      
      {%if data['nstf-r2-signatory'] == "no" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Authorised signatory full name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['nstf-r2-signatory-name'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="signatory"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Authorised signatory job title
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['nstf-r2-signatory-job'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="signatory"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Authorised signatory email address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['nstf-r2-signatory-email'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="signatory"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Authorised signatory telephone number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['nstf-r2-signatory-telephone'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="signatory"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
      {% endif %}

    </dl>

    <form action="../../app-task-list-new" method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Do you want to mark this section as complete?
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
              id="section-02-complete"
              name="1-3-complete" type="radio" value="Yes" {{
              checked("1-3-complete", "Yes") }}>
              <label
                class="govuk-label govuk-radios__label"
                for="section-02-complete"
              >
                Yes, I’ve completed this section
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
              id="section-02-complete-2"
              name="1-3-complete" type="radio" value="No" {{
              checked("1-3-complete", "No") }}>
              <label
                class="govuk-label govuk-radios__label"
                for="section-02-complete-2"
              >
                No, I’ll come back to it later
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
