{% extends "layout_with_back_nstf.html" %}

{% block pageTitle %}
  Intro applicant
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">1.3 Applicant information</h1>

    <p class="govuk-body"><strong>In this section, we'll ask about:  </strong></p>
    <ul class="govuk-list govuk-list--bullet">
        <li>lead contact name</li>
        <li>lead contact job title</li>
        <li>lead contact email address</li>
        <li>lead contact telephone number</li>
        <li>authorised signatory name</li>
        <li>authorised signatory job title</li>
        <li>authorised signatory email address</li>
        <li>authorised signatory telephone number</li>
    </ul>

    <a href="lead-contact" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Continue
    </a>
  </div>
{% endblock %}
