{% extends "layout_with_back_nstf.html" %}

{% block pageTitle %}
  Lead contact
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Applicant information</span>
      <h1 class="govuk-heading-l">Lead contact details</h1>
      <div id="project-description" class="govuk-hint">
        <p class="govuk-hint">They will receive all the information about this application.</p>
      </div>

    <form action="/nstf-r2-signatory-answer" class="form" method="post">

      <div class="govuk-form-group">
        <label
          class="govuk-label govuk-label--s"
          for="project-description"
        >
          Name of lead contact
        </label>
        
        <input
          class="govuk-input"
          id="nstf-r2-lead-name"
          name="nstf-r2-lead-name"
          type="text"
          spellcheck="false"
          autocomplete="name"
          value="{{ data['nstf-r2-lead-name'] }}"
        />
      </div>
      <div class="govuk-form-group">
        <label
          class="govuk-label govuk-label--s"
          for="project-description"
        >
          Lead contact job title
        </label>
        <input
          class="govuk-input"
          id="nstf-r2-lead-job"
          name="nstf-r2-lead-job"
          type="text"
          spellcheck="false"
          autocomplete="name"
          value="{{ data['nstf-r2-lead-job'] }}"
        />
      </div>
      <div class="govuk-form-group">
        <label
          class="govuk-label govuk-label--s"
          for="project-description"
        >
          Lead contact email address
        </label>
        <input
          class="govuk-input"
          id="nstf-r2-lead-email"
          name="nstf-r2-lead-email"
          type="text"
          spellcheck="false"
          autocomplete="name"
          value="{{ data['nstf-r2-lead-email'] }}"
        />
      </div>
      <div class="govuk-form-group">
        <label
          class="govuk-label govuk-label--s"
          for="project-description"
        >
          Lead contact telephone number
        </label>
        <input
          class="govuk-input"
          id="nstf-r2-lead-telephone"
          name="nstf-r2-lead-telephone"
          type="text"
          spellcheck="false"
          autocomplete="name"
          value="{{ data['nstf-r2-lead-telephone'] }}"
        />
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-label govuk-label--s">
            Is the lead contact the same person as the authorised signatory?
          </legend>
          <p class="govuk-hint">An authorised signatory:</p>
          <ul class="govuk-list govuk-list--bullet govuk-hint">
            <li>is allowed to act on behalf of the organisation </li>
            <li>will sign the grant funding agreement if your application is successful</li>
          </ul>
        
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="nstf-r2-signatory" name="nstf-r2-signatory" type="radio" value="yes"{{ checked("nstf-r2-signatory", "yes") }}>
              <label class="govuk-label govuk-radios__label" for="nstf-r2-signatory">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="nstf-r2-signatory-2" name="nstf-r2-signatory" type="radio" value="no"{{ checked("nstf-r2-signatory", "no") }}>
              <label class="govuk-label govuk-radios__label" for="nstf-r2-signatory">
                No
              </label>
            </div>
          </div>

      <div>
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </div>
    </form>

  </div>
{% endblock %}
