{% extends "layout_with_back_nstf.html" %}

{% block pageTitle %}
  Signatory
{% endblock %}



{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Applicant information</span>
      <h1 class="govuk-heading-l">Authorised signatory details</h1>
      <div id="project-description" class="govuk-hint">
        <p class="govuk-hint">An authorised signatory:</p>
        <ul class="govuk-list govuk-list--bullet govuk-hint">
          <li>is allowed to act on behalf of the organisation </li>
          <li>will sign the grant funding agreement if your application is successful</li>
        </ul>
      </div>

    <form action="check-your-answers-example" class="form" method="post">

      <div class="govuk-form-group">
        <label
          class="govuk-label govuk-label--s"
          for="project-description"
        >
        Authorised signatory full name
        </label>
        
        <input
          class="govuk-input"
          id="nstf-r2-signatory-name"
          name="nstf-r2-signatory-name"
          type="text"
          spellcheck="false"
          autocomplete="name"
          value="{{ data['nstf-r2-signatory-name'] }}"
        />
      </div>
      <div class="govuk-form-group">
        <label
          class="govuk-label govuk-label--s"
          for="project-description"
        >
        Authorised signatory job title
        </label>
        <input
          class="govuk-input"
          id="nstf-r2-signatory-job"
          name="nstf-r2-signatory-job"
          type="text"
          spellcheck="false"
          autocomplete="name"
          value="{{ data['nstf-r2-signatory-job'] }}"
        />
      </div>
      <div class="govuk-form-group">
        <label
          class="govuk-label govuk-label--s"
          for="project-description"
        >
        Authorised signatory email address
        </label>
        <input
          class="govuk-input"
          id="nstf-r2-signatory-email"
          name="nstf-r2-signatory-email"
          type="text"
          spellcheck="false"
          autocomplete="name"
          value="{{ data['nstf-r2-signatory-email'] }}"
        />
      </div>
      <div class="govuk-form-group">
        <label
          class="govuk-label govuk-label--s"
          for="project-description"
        >
        Authorised signatory telephone number
        </label>
        <input
          class="govuk-input"
          id="nstf-r2-signatory-telephone"
          name="nstf-r2-signatory-telephone"
          type="text"
          spellcheck="false"
          autocomplete="name"
          value="{{ data['nstf-r2-signatory-telephone'] }}"
        />
      </div>
      <div>
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </div>
    </form>

  </div>
{% endblock %}
