{% extends "layouts/grantManagement.html" %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}


{% set pageSize = "xl" %}

{% if data['authType'] == "SSO" %}
    {% set pageHeading = "Deliver grant funding" %}
{% else %}
    {% set pageHeading = "Access grant funding" %}
{% endif %}
{% set pageSection = "" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection,pageSize) }}



        {% if data['authType'] == "SSO" %}

            <p>Connected and consistent set of funding services including FAB, pre-award and post-award tools into a single platform enabling funding as a service.</p>
            <p>To include:</p>
            <ul class="govuk-list govuk-list--bullet">
				<li>grant set-up and management</li>
				<li>pre-engagement, business case, grant and funding design </li>
				<!-- <li>apply/assess (pre-award)</li> -->
				<!-- <li>funding decisions</li> -->
				<!-- <li>payments integrations (with SAP) </li> -->
				<li>monitoring and reporting </li>
			</ul>

            <form method="post" action="/sign-in/authentication" >



                {{ govukButton({
                    text: "Sign in",
                    isStartButton: true
                }) }}

            </form>


        {% else %}

            <p class="govuk-body">Enter your email address and we’ll send you a link to sign in.</p>

            <p class="govuk-body">You’ll need to use your ‘@communities.gov.uk’ email address.</p>

            <div class="govuk-inset-text">
                <p class="govuk-body">The link will work once and stop working after 15 minutes.</p>
            </div>

            <form method="post" action="/sign-in/email-sent" >

                {{ govukInput({
                    label: {
                        text: "Email address",
                        classes: "govuk-label",
                        isPageHeading: false
                    },
                    classes: "govuk-!-width-two-thirds",
                    id: "gMmagicLinkEmail",
                    name: "gMmagicLinkEmail",
                    type: "email"
                }) }}

                {{ govukButton({
                    text: "Request link"
                }) }}

            </form>

        {% endif %}

    </div>
</div>

{% endblock %}