{% extends "layouts/grantManagement.html" %}

{% set showBackLink = false %}
{% set showBackApplicationsLink = false %}


{% set pageSize = "xl" %}
{% set pageHeading = "Enter your email addresss" %}
{% set pageSection = "" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection,pageSize) }}

            <p class="govuk-body">You’ll need to use your ‘@communities.gov.uk’ email address. We’ll email you with a link to sign in.</p>

            <div class="govuk-inset-text">
                <p class="govuk-body">The link will work once and stop working after 15 minutes.</p>
            </div>

            <form method="post" action="/sign-in/email-sent" >

                {{ govukInput({
                    label: {
                        text: pageHeading,
                        classes: "govuk-label govuk-visually-hidden",
                        isPageHeading: false
                    },
                    classes: "govuk-!-width-two-thirds",
                    id: "gMmagicLinkEmail",
                    name: "gMmagicLinkEmail",
                    type: "email"
                }) }}

                {{ govukButton({
                    text: "Send email"
                }) }}

            </form>

    </div>
</div>

{% endblock %}