{% extends "layouts/main.html" %}

{% set showBackLink = false %}


{% set pageHeading = "Check your answers" %}
{% set pageSection = "" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}


<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <h2 class="govuk-heading-m">Engaging the ODP community</h2>

      	{{ govukSummaryList({
        	rows: [
          		{ key: { text: "Why do you want to be a part of the ODP (Open Digital Planning) community?" }, value: { text: data['engagingDigitalPlanningWhy'] }, actions: { items: [ { href: "#", text: "Change", visuallyHiddenText: "Organisation name" } ] } }
        	]
      	}) }}

		<form action="/apply/task-list" method="post" novalidate>

			<!-- Session information to inform although section is finished is it completed -->
			 
			{{ govukRadios({
				classes: "govuk-radios--inline",
				name: "engagingDigitalPlanningComplete",
				fieldset: {
					legend: {
						text: "Do you want to mark this section as complete?",
						isPageHeading: false,
						classes: "govuk-fieldset__legend--l"
					}
				},
				items: [
				{ value: "yes", text: "Yes", checked: checked("engagingDigitalPlanningComplete", "yes")  },
				{ value: "no", text: "No", checked: checked("engagingDigitalPlanningComplete", "no") }
				]
			}) }}

			{{ govukButton({
			text: "Save and continue"
			}) }}

		</form>

    </div>
  </div>
{% endblock %}
