{% extends "layouts/main.html" %}

{% set pageHeading = "Engaging the ODP (Open Digital Planning) community" %}
{% set pageSection = "" %}

{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

        <p class="govuk-body govuk-!-font-weight-bold">In this section, we'll ask about:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>why you want to be a part of the ODP (Open Digital Planning) community</li>
        </ul>

        <form method="post" action="/apply/engaging-digital-planning/part-of-open-digital-planning?linkStatus=" >
            {{ govukButton({
                text: "Continue"
            }) }}
        </form>

    </div>
</div>

{% endblock %}