.govuk-width-container {
    max-width: 1600px;
}

.search-button {
    margin-bottom: 0;
    margin-left: 8px;
    vertical-align: baseline;
}

.search-input {
    /* width: 16em; */
}



.govuk-service-navigation {
    border-bottom: none;
    background-color: #fff;
}

.govuk-service-navigation__item, .govuk-service-navigation__service-name {
    margin: 4px 0;
    border: none;
    font-size: 16px;
}

nav {
    float: right;
}

.govuk-service-navigation__container {

    float: right;
}

.lead-dashboard-stat {
    min-width: 100px;
    max-width: 100px;
    padding: 20px;
    background-color: #ffffff;
    margin-bottom: 30px;
}


.lead-dashboard-stat p:first-of-type {
    font-size: 3em;
    line-height: 1.31579;
}

.lead-dashboard-stat p {
    font-weight: 600;
    font-size: 0.7em;
    color: #1d70b8;
    margin-top: 0;
    margin-bottom: 3px;
}

.fright {
    float: right;
}