{% extends "layout_nstf-signed.html" %}

{% block pageTitle %}
  Funding Service Design Beta - PreAward
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <span class="govuk-caption-l">Night Shelter Transformation Fund</span>
      <h1 class="govuk-heading-xl">Your applications</h1>

      {% set completed = [] %}
      {% if data['cofr3organisationInformationComplete'] == "Yes" %}
        {% set completed = (completed.push("1"), completed) %}
      {% endif %}
      {% if data['cofr3applicantInformationComplete'] == "Yes" %}
        {% set completed = (completed.push("2"), completed) %}
      {% endif %}
      {% if data['cofr3projectInformationComplete'] == "Yes" %}
        {% set completed = (completed.push("3"), completed) %}
      {% endif %}
      {% if data['cofr3assetInformationComplete'] == "Yes" %}
        {% set completed = (completed.push("4"), completed) %}
      {% endif %}
      {% if data['cofr3communityUseComplete'] == "Yes" %}
        {% set completed = (completed.push("5"), completed) %}
      {% endif %}
      {% if data['cofr3communityEngagementComplete'] == "Yes" %}
        {% set completed = (completed.push("6"), completed) %}
      {% endif %}
      {% if data['cofr3localSupportComplete'] == "Yes" %}
        {% set completed = (completed.push("7"), completed) %}
      {% endif %}
      {% if data['cofr3environmentalSustainabilityComplete'] == "Yes" %}
        {% set completed = (completed.push("8"), completed) %}
      {% endif %}
      {% if data['cofr3-funding-requested-complete'] == "Yes" %}
        {% set completed = (completed.push("9"), completed) %}
      {% endif %}
      {% if data['cofr3feasabilityInformationComplete'] == "Yes" %}
        {% set completed = (completed.push("10"), completed) %}
      {% endif %}
      {% if data['cofr3riskInformationComplete'] == "Yes" %}
        {% set completed = (completed.push("11"), completed) %}
      {% endif %}
      {% if data['cofr3projectCostInformationComplete'] == "Yes" %}
        {% set completed = (completed.push("12"), completed) %}
      {% endif %}
      {% if data['cofr3projectSkillsResourcesComplete'] == "Yes" %}
        {% set completed = (completed.push("13"), completed) %}
      {% endif %}
      {% if data['cofr3communityRepresentationComplete'] == "Yes" %}
        {% set completed = (completed.push("14"), completed) %}
      {% endif %}
      {% if data['cofr3projectInclusivenessComplete'] == "Yes" %}
        {% set completed = (completed.push("15"), completed) %}
      {% endif %}
      {% if data['cofr3communityBenefitsComplete'] == "Yes" %}
        {% set completed = (completed.push("16"), completed) %}
      {% endif %}
      {% if data['cofr3communityValueComplete'] == "Yes" %}
        {% set completed = (completed.push("17"), completed) %}
      {% endif %}
      {% if data['cofr3projectQualificationComplete'] == "Yes" %}
        {% set completed = (completed.push("18"), completed) %}
      {% endif %}
      {% if data['cofr3declarationsComplete'] == "Yes" %}
        {% set completed = (completed.push("19"), completed) %}
      {% endif %}
      {% if data['cofr3projectBusinessPlanComplete'] == "Yes" %}
        {% set completed = (completed.push("20"), completed) %}
      {% endif %}
      {% set completedstatus = [completed.length] %}

      {% if data['save-return-email'] == "person@company.co.uk" %}

      <p class="govuk-body">You have started four applications using this email address.</p>
      <p class="govuk-body">This service is also available <a href="#" class="govuk-link">in Welsh (Cymraeg)</a>.</p>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            You cannot change the language of an existing application
          </strong>
        </div>

        <span class="govuk-caption-l">Night Shelter Transformation Fund</span>
        <h2 class="govuk-heading-l">Round 3 Window 1</h2>

        <table class="govuk-table govuk-table__s22" role="table">
          <thead role="rowgroup">
              <tr role="row">
                <th role="columnheader" scope="col">Project name</th>
                <th role="columnheader" scope="col">Status</th>
                <th role="columnheader" scope="col">Last edited</th>
                <th role="columnheader" scope="col">Application reference</th>
                <th role="columnheader" scope="col">Language</th>
                <th role="columnheader" scope="col">Action</th>
              </tr>
            </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell"><span class="responsive-table__heading" aria-hidden="true">Project name</span>Save the village hall</td>
            <td class="govuk-table__cell"><span class="responsive-table__heading" aria-hidden="true">Status</span><span class="in-progress-tag-new">In progress</span></td>
            <!--<td class="govuk-table__cell">09/05/22</td>-->
            <td class="govuk-table__cell"><span class="responsive-table__heading" aria-hidden="true">Last edited</span>11/05/23 at 09:55am</td>
            <td class="govuk-table__cell"><span class="responsive-table__heading" aria-hidden="true">Application reference</span><span>COF-R3W1-YHGFVX</span></td>
            <td class="govuk-table__cell"><span class="responsive-table__heading" aria-hidden="true">Language</span>English</td>
            <td class="govuk-table__cell"><span class="responsive-table__heading" aria-hidden="true">Action</span><a href="app-task-list-new.html" class="govuk-link govuk-link--no-visited-state">Continue application</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell"><span class="responsive-table__heading" aria-hidden="true">Project name</span>Test</td>
            <td class="govuk-table__cell"><span class="responsive-table__heading" aria-hidden="true">Status</span><span class="not-started-tag">Not started</span></td>
            <!--<td class="govuk-table__cell">04/05/22</td>-->
            <td class="govuk-table__cell"><span class="responsive-table__heading" aria-hidden="true">Last edited</span>05/05/23 at 14:26pm</td>
            <td class="govuk-table__cell"><span class="responsive-table__heading" aria-hidden="true">Application reference</span><span>COF-R3W1-BEVKFS</span></td>
            <td class="govuk-table__cell"><span class="responsive-table__heading" aria-hidden="true">Language</span>Welsh</td>
            <td class="govuk-table__cell"><span class="responsive-table__heading" aria-hidden="true">Action</span><a href="#" class="govuk-link govuk-link--no-visited-state">Continue application</a></td>
          </tr>
        </tbody>
      </table>


        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Start new application
        </button>

        <span class="govuk-caption-l">Night Shelter Transformation Fund</span>
        <h2 class="govuk-heading-l">Round 2 Window 3</h2>

        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h2 class="govuk-notification-banner__heading">
              Window closed - Night Shelter Transformation Fund
            </h2>
            <p class="govuk-body">(Closed: 14 April 2023 at 11:59am</p>
            <p class="govuk-body">You can no longer submit applications in this window. Any you had in progress will be emailed to you.</p>
          </div>
        </div>


          <table class="govuk-table govuk-table__s22" role="table">
            <thead role="rowgroup">
                <tr role="row">
                  <th role="columnheader" scope="col">Project name</th>
                  <th role="columnheader" scope="col">Status</th>
                  <th role="columnheader" scope="col">Last edited</th>
                  <th role="columnheader" scope="col">Application reference</th>
                  <th role="columnheader" scope="col">Language</th>
                </tr>
              </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell"><span class="responsive-table__heading" aria-hidden="true">Project name</span>Hedgehill Youth Centre</td>
              <td class="govuk-table__cell"><span class="responsive-table__heading" aria-hidden="true">Status</span><span class="complete-tag">Submitted</span></td>
              <!--<td class="govuk-table__cell">09/05/22</td>-->
              <td class="govuk-table__cell"><span class="responsive-table__heading" aria-hidden="true">Last edited</span>11/03/23 at 09:55am</td>
              <td class="govuk-table__cell"><span class="responsive-table__heading" aria-hidden="true">Application reference</span><span>COF-R2W2-YHGFVX</span></td>
              <td class="govuk-table__cell"><span class="responsive-table__heading" aria-hidden="true">Language</span>English</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell"><span class="responsive-table__heading" aria-hidden="true">Project name</span>Hedgehill Community Hall</td>
              <td class="govuk-table__cell"><span class="responsive-table__heading" aria-hidden="true">Status</span><span class="complete-tag">Not submitted</span></td>
              <!--<td class="govuk-table__cell">04/05/22</td>-->
              <td class="govuk-table__cell"><span class="responsive-table__heading" aria-hidden="true">Last edited</span>05/03/23 at 14:26pm</td>
              <td class="govuk-table__cell"><span class="responsive-table__heading" aria-hidden="true">Application reference</span><span>COF-R2W2-BEVKFS</span></td>
              <td class="govuk-table__cell"><span class="responsive-table__heading" aria-hidden="true">Language</span>Welsh</td>
            </tr>

          </tbody>
        </table>

        {% else %}

        <p class="govuk-body">You have not started any applications using this email.</p>

        <a href="app-task-list-new" role="button" draggable="false" class="govuk-button " data-module="govuk-button">
          Start new application
        </a>

        {% endif %}


  </div>
{% endblock %}
