{% extends "layout_nstf.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Application complete</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>NSTF-R2-YHGFVX</strong>
        </div>
      </div>

      <p>
        We have sent you a confirmation email and a copy of your answers to <b>applicant@email.com</b>.
      </p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>Your application to the Night Shelter Transformation Fund has been submitted.</p>
      <p>we'll email you to let you know whether you have been successful within [timeframe TBC].</p>


    </div>
  </div>

{% endblock %}
