{% extends "layout_with_back_nstf.html" %}

{% block pageTitle %}
  Risk add
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">5.1 Risk and deliverability</span>
      <h1 class="govuk-heading-l">Risks to the proposal</h1>

      <p class="govuk-hint">Tell us about:</p>
      <ul class="govuk-hint">
        <li>any risks to the proposal</li>
        <li>the likelihood of them happening</li>
        <li>how you plan to mitigate them</li></ul>
        <p class ="govuk-hint">You can add more risks on the next step.</p>

  <form action="risk-loop" method="post" novalidate>

    <div class="govuk-form-group">

      <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="500">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="nstf-r2-hint">
            Risk
          </label>
          <p class="govuk-hint">For example, recruitment timeframes, staffing capacity, public health emergency planning.</p>
          <textarea class="govuk-textarea govuk-js-character-count" id="nstf-r2" name="nstfr2Risk[type]" rows="5" aria-describedby="nstf-r2-hint" value=""></textarea>
          <div id="s37-risk-info" class="govuk-hint govuk-character-count__message">
            You can enter up to 500 words
          </div>
       </div>
      </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">

        <legend class="govuk-label govuk-label--s">
          Likelihood
        </legend>

        <div class="govuk-radios govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="s37-risk-likelihood" name="nstfr2Risk[likelihood]" type="radio" value="High">
            <label class="govuk-label govuk-radios__label" for="s37-risk-likelihood">
              High
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="s37-risk-likelihood-2" name="nstfr2Risk[likelihood]" type="radio" value="Medium">
            <label class="govuk-label govuk-radios__label" for="s37-risk-likelihood-2">
              Medium
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="s37-risk-likelihood-3" name="nstfr2Risk[likelihood]" type="radio" value="Low">
            <label class="govuk-label govuk-radios__label" for="s37-risk-likelihood-3">
              Low
            </label>
          </div>
        </div>

      </fieldset>
    </div>

    <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="500">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="s37-risk-mitigation-hint">
          Proposed mitigation
        </label>
        <textarea class="govuk-textarea govuk-js-character-count" id="s37-risk-mitigation-01" name="nstfr2Risk[mitigation]" rows="5" aria-describedby="s37-risk-mitigation-hint" value=""></textarea>
        <div id="s37-risk-info-01" class="govuk-hint govuk-character-count__message">
          You can enter up to 500 words
        </div>
     </div>
    </div>
    
    <button
      class="govuk-button govuk-button--secondary"
      data-module="govuk-button"
    >
      Add and continue
    </button>

    </form>
  </div>
</div>
{% endblock %}
