{% extends "layout_with_back_nstf.html" %}

{% block pageTitle %}
  Objectives and activities | NS Round 2 | Funding Service Design Beta
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: "Apply for funding to transform your night shelter services in England"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">3.1 Objectives and activities</span>
      <h1 class="govuk-heading-l">Objectives and activities</h1>

      <p class="govuk-hint">Tell us about your project's objectives and how you plan to achieve these objectives.</p>

      <p class="govuk-hint">You must include one objective about how your project will address local rough sleeping.</p>

      <p class="govuk-hint">You can add more objectives and activities on the next screen.</p>

  <form action="03-activities-loop" method="post" novalidate>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="nstf-activities-objective-hint">
        Objective
      </label>
      <div id="nstf-activities-objective-hint" class="govuk-hint">
        For example, transition of existing communal accommodation space into five single occupancy accommodation units, available throughout the year
      </div>
      <input
        class="govuk-input govuk-input--width-20"
        id="nstf-activities-objective"
        name="nstfActivities[objective]"
        type="text"
        aria-describedby="nstf-activities-objective-hint"
        value=""
      />
    </div>

    <div class="govuk-form-group">
      <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="200">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="nstf-activities-activity">
            Activities that will help you achieve the objective
          </label>
          <div id="nstf-activities-activity-hint" class="govuk-hint">
            For example, renovation of existing accommodation to provide single occupancy accommodation, including bathroom and kitchen facilities
          </div>
          <textarea class="govuk-textarea govuk-js-character-count" id="nstf-activities-activity" name="nstfActivities[activity]" rows="5" aria-describedby="nstf-activities-activity-info">{{ data['nstf-activities-activity'] }}</textarea>
        </div>
      <div id="nstf-activities-activity-info" class="govuk-hint govuk-character-count__message">
        You can enter up to 200 words
      </div>
    </div>

    <button
      class="govuk-button govuk-button--secondary"
      data-module="govuk-button"
    >
      Add and continue
    </button>

    </form>
  </div>
</div>
{% endblock %}
