{% extends "layout_with_back_nstf.html" %}

{% block pageTitle %}
  Your objectives and activities | NS Round 2 | Funding Service Design Beta
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: "Apply for funding to transform your night shelter services in England"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">3.1 Objectives and activities</span>
      <h1 class="govuk-heading-l">Your objectives and activities</h1>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Objective</th>
        <th scope="col" class="govuk-table__header">Activities</th>
        <th scope="col" class="govuk-table__header">Action</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      {% for i in data.nstfActivitiesData %}
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">{{ i.objective }}</th>
        <td class="govuk-table__cell">{{ i.activity }}</td>
        <td class="govuk-table__cell"><a href="03-activities-loop/delete/{{ loop.index0 }}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="govuk-button-group">
    <a href="check-your-answers" class="govuk-button" data-module="govuk-button">
      Save and continue
    </a>
    <a href="02-activities-add" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Add another
    </a>
  </div>
  </div>
</div>
{% endblock %}
