{% extends "layouts/main.html" %}

{% set pageHeading = "Funding Service" %}
{% set pageSection = "Prototype" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}





<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		{{ macroPageHeader.pageHeader(pageHeading,pageSection) }}

		<p class="govuk-body-s">Last updated 30 January 2025
    	<br>GOV.UK Prototype Kit: {{releaseVersion}}</p>

    	<p>This is a new prototype to show the various stages throughout the Funding Service.</p>

		<!-- Apply service -->
		<h2 class="govuk-heading-m">Apply for funding</h2>
		<p>Apply for funding journey flow.</p>

		<form method="post" action="/preload" >

			<input type="hidden" name="fundService" id="fundService" value="apply" />
			{{ govukButton({
                text: "Start journey"
            }) }}
		</form>

		<!-- Assess service -->
		<h2 class="govuk-heading-m">Assess applications for funding</h2>
		<p>Assess funding applications journey flow.</p>

		<form method="post" action="/assess/" >

			<input type="hidden" name="fundService" id="fundService" value="assess" />
			{{ govukButton({
                text: "Start journey"
            }) }}
		</form>



		<hr>
		<h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-1">User research</h2>
        <p class="govuk-body">There is no research currently taking place. </p>

  </div>
</div>

{% endblock %}
