{% extends "layouts/main.html" %}

{% set pageName="Home" %}


{% set pageHeading = "What’s the SOR’s email address?" %}
{% set pageSection = "Create a grant profile" %}
{% block pageTitle %}{{ macroPageTitle.pageTitle(pageHeading) }}{% endblock %}

{% block content %}





<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">


    	<span class="govuk-caption-xl">Prototype</span>
    	<h1 class="govuk-heading-xl">Apply for funding</h1>

		<p class="govuk-body-s">Last updated 21 January 2025
    	<br>GOV.UK Prototype Kit: {{releaseVersion}}</p>

    	<p>This is a new prototype to show the Apply for funding journey flow.</p>
    	<p class="govuk-body">Intro content to follow.</p>


		<h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-1">User research</h2>
        <p class="govuk-body">No research currently taking place. </p>

  </div>
</div>

{% endblock %}
