{% extends "layout_nstf.html" %}

{% block pageTitle %}
  Check your answers example
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">2.1 Section heading</span>
    <h1 class="govuk-heading-l">Check your answers</h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Question
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['data-example-3'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            href="question-example"
          >
            Change <span class="govuk-visually-hidden">answer</span>
          </a>
        </dd>
      </div>
    </dl>

    <form action="../../app-task-list-new" method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Do you want to mark this section as Complete?
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
              id="section-03-complete"
              name="section-03-complete" type="radio" value="Yes" {{
              checked("section-03-complete", "Yes") }}>
              <label
                class="govuk-label govuk-radios__label"
                for="section-03-complete"
              >
                Yes, I’ve completed this section
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input"
              id="section-03-complete-2"
              name="section-03-complete" type="radio" value="No" {{
              checked("section-03-complete", "No") }}>
              <label
                class="govuk-label govuk-radios__label"
                for="section-03-complete-2"
              >
                No, I’ll come back to it later
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>
  </div>
</div>

{% endblock %}
