{% extends "layout_with_back_nstf.html" %}

{% block pageTitle %}
  Match funding
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: "Apply for funding to transform your night shelter services in England"
  }) }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">6.3 Match funding</span>
      <h1 class="govuk-heading-l">Match funding</h1>

        <p class ="govuk-hint">You can add more funding sources on the next step.</p>

  <form action="match-funding-loop" method="post" novalidate>
    
    <div class="govuk-form-group">

      <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="50">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="nstf-r2-hint">
            Funding source
          </label>
          <p class="govuk-hint">For example, reserves, trusts and foundations</p>
          <input class="govuk-input" id="nstf-funding-source" name="nstfr2Match[source]" type="text" value="">
       </div>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="nstf-revenue-amount">
          Amount
        </label>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-10" id="nstf-match-amount" name="nstfr2Match[amount]" type="number" autocomplete="nstf-revenue-amount" value="">
        </div>
      </div>

    <div class="govuk-form-group">


        <legend class="govuk-label govuk-label--s">
          Financial year
        </legend>

        <div class="govuk-radios govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="nstf-financial-year" name="nstfr2Match[year]" type="radio" value="2023 to 2024">
            <label class="govuk-label govuk-radios__label" for="s37-risk-likelihood">
              1 April 2023 to 31 March 2024
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="nstf-financial-year-2" name="nstfr2Match[year]" type="radio" value="2024 to 2025">
            <label class="govuk-label govuk-radios__label" for="s37-risk-likelihood-2">
              1 April 2024 to 31 March 2025
            </label>
          </div>
        </div>
    </div>

    <div class="govuk-form-group">

        <legend class="govuk-label govuk-label--s">
          Which type of funding is it?
        </legend>

        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="nstf-funding-type" name="nstfr2Match[type]" type="radio" value="Capital">
            <label class="govuk-label govuk-radios__label" for="s37-risk-likelihood">
              Capital
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="nstf-funding-type-2" name="nstfr2Match[type]" type="radio" value="Revenue">
            <label class="govuk-label govuk-radios__label" for="s37-risk-likelihood-2">
              Revenue
            </label>
          </div>
        </div>
    </div>

    <div class="govuk-form-group">
     
        <legend class="govuk-label govuk-label--s">
          Is the funding secured?
        </legend>

        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="nstf-secured" name="nstfr2Match[secured]" type="radio" value="Yes">
            <label class="govuk-label govuk-radios__label" for="s37-risk-likelihood">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="nstf-secured-2" name="nstfr2Match[secured]" type="radio" value="No">
            <label class="govuk-label govuk-radios__label" for="s37-risk-likelihood-2">
              No
            </label>
          </div>
        </div>
    </div>
    </div>

    <button
      class="govuk-button govuk-button--secondary"
      data-module="govuk-button"
    >
      Add and continue
    </button>

    </form>
  </div>
</div>
{% endblock %}
