{% extends "layout_with_back_nstf.html" %}

{% block pageTitle %}
  Match funding
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">6.3 Match funding</span>
    <h1 class="govuk-heading-l">Will you use match funding for this proposal?</h1>

      <form action="/match-funding-answer" method="post" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="nstf-r3-match-funding" name="nstf-r3-match-funding" type="radio" value="yes"{{checked("nstf-r3-match-funding", "yes") }}>
                <label class="govuk-label govuk-radios__label" for="nstf-r3-match-funding">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="nstf-r3-match-funding-2" name="nstf-r3-match-funding" type="radio" value="no" {{checked("nstf-r3-match-funding", "no") }}>
                <label class="govuk-label govuk-radios__label" for="nstf-r3-match-funding-2">
                  No
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>
        
      <div>
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </div>
    </form>

  </div>
{% endblock %}
