{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% import "macros/prototype-footer.njk" as protoFooter %}
{% import "macros/prototype-header.njk" as protoHeader %}

{% import "macros/page-title.njk" as macroPageTitle %}
{% import "macros/page-header.njk" as macroPageHeader %}
{% import "macros/suggested-page.njk" as macroSuggested %}
{% import "macros/current-page.njk" as macroCurrent %}
{% import "macros/page-pagination.njk" as macroPagePagination %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set navigationEnd %}
  <li class="govuk-service-navigation__item" style="margin-left: auto;">
    <a class="govuk-service-navigation__link" href="/funding/grants">See all grants</a>
  </li>
{% endset %}

<!-- Overides the max width only in assess -->
{% block stylesheets %}
	{{ super() }}
  	<link href="/public/css/assessOveride-new.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header %}

    <!-- Header -->
	 {{ protoHeader.prototypeHeader() }}
	
	<!-- Looks to see if signed in -->
	{% if data['signedIn'] == "yes" %}
		<!-- Looks to see if its FSD ADmin -->
		{% if data['authentication'] == "SSO"  %}

			{% if data['navID'] == "addGrant" %}
				<!-- Not sure what is going here possibly delete -->
			{% else %}
				<!-- Service Name and Navigation -->
				{{ govukServiceNavigation({
					serviceName: "Deliver grant funding",
					serviceUrl: "/funding/grants?signedIn=yes",
					navigation: [
						{ href: "/funding/grant/?notification=", text: "Home", active: navID == "grantHome"  },
						{ href: "/funding/grant/details/?notification=", text: "Grant details", active: navID == "grantDetails" },
						{ href: "/funding/grant/applications/?notification=", text: "Applications", active: navID == "grantApplications" },
						{ href: "/funding/grant/reports/?notification=", text: "Reports", active: navID == "grantReports" },
						{ href: "/funding/grant/users/?notification=", text: "Grant team", active: navID == "grantUsers" }
					],
					slots: { navigationEnd: navigationEnd }
				}) }}
			{% endif %}
		<!-- User not FSD Admin -->
		{% else %}		

			{{ govukServiceNavigation({
				serviceName: "Access grant funding",
				serviceUrl: "/funding/grants?signedIn=yes",
				navigation: [
					{ href: "/funding/grant/?notification=", text: "Home", active: navID == "grantHome"  },
					{ href: "/funding/grant/details/?notification=", text: "Grant details", active: navID == "grantDetails" },
					{ href: "/funding/grant/applications/?notification=", text: "Applications", active: navID == "grantApplications" },
					{ href: "/funding/grant/reports/?notification=", text: "Reports", active: navID == "grantReports" },
					{ href: "/funding/grant/users/?notification=", text: "Grant team", active: navID == "grantUsers" }
				]
			}) }}

		{% endif %}
	
	<!-- Not signed in -->
	{% else %}		
		{% if data['authentication'] == "SSO"  %}
			<!-- Service Name and Navigation -->
			{{ govukServiceNavigation({
				serviceName: "Deliver grant funding",
				serviceUrl: "#"
			}) }}
		{% else %}
			<!-- Service Name and Navigation -->
			{{ govukServiceNavigation({
				serviceName: "Access grant funding",
				serviceUrl: "#"
			}) }}
		{% endif %}
	{% endif %}

{% endblock %}
<!-- // header -->

{% block beforeContent %}
    <!-- Phasebanner -->
    {{ govukPhaseBanner({ tag: { text: "Prototype" }, html: "This is a prototype. It is not a real service." }) }}

	<!-- Breadcrumb for report -->
	<!-- {{ govukBreadcrumbs({
  		items: [    		
    		{ text: data.reportName, href: "/funding/grant/reports/" },			
    		{ text: "Sections", href: "/funding/grant/reports/sections" },
			{ text: "Tasks", href: "/funding/grant/reports/tasks" }
  		]
	}) }} -->
	<!-- // breadcrumb report -->

    <!-- Back link -->
    {% if showBackLink %}
    	{{ govukBackLink({
      		href: overrideBackLinkHref or backLinkHref or "javascript:history.back()",
      		text: overrideBackLinkText or backLinkText or "Back"
    	}) }}
  	{% endif %}
	<!-- // backlink -->

{% endblock %}
<!-- // beforeContent -->

<!-- Main contetn -->
{% block content %}
{% endblock %}


{% block footer %}
	{{ protoFooter.prototypeFooter() }}
{% endblock %}
