{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% import "macros/page-title.njk" as macroPageTitle %}
{% import "macros/page-header.njk" as macroPageHeader %}
{% import "macros/suggested-page.njk" as macroSuggested %}
{% import "macros/current-page.njk" as macroCurrent %}
{% import "macros/page-pagination.njk" as macroPagePagination %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

<!-- Overides the max width only in assess -->
{% block stylesheets %}
	{{ super() }}
  	<link href="/public/css/assessOveride-new.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header %}


        <!-- Header -->
        {{ govukHeader({
            classes: "govuk-header--full-width-border"
        }) }}
        <!-- /// -->
        <!-- Service Name and Navigation -->
        {{ govukServiceNavigation({
            serviceName: "Grant management",
            serviceUrl: "#",
            navigation: [
                { href: "#", text: "Grants" }
            ]

        }) }}
        <!-- /// -->

{% endblock %}

{% block beforeContent %}
    <!-- Phasebanner -->
    {{ govukPhaseBanner({
        tag: { text: "Prototype" },
        html: 'This is a prototype. It is not a real service.'
    }) }}
    <!-- /// -->
    <!-- Back link -->
    {% if showBackLink != false %}
        {{ govukBackLink({
            href: "#",
            text: "Back"
        }) }}
    {% endif %}
    <!-- /// -->



{% endblock %}

{% block content %}

{% endblock %}


{% block footer %}

{{ govukFooter({

    meta: {
      items: [
        {
          href: "/manage-prototype/clear-data",
          text: "Clear data"
        },
        {
          href: "/manage-prototype",
          text: "Manage prototype"
        }
      ],
      html: 'Built by the <a href="#" class="govuk-footer__link">Ministry of Housing, Communites & Local Government Funding Service</a>'
    }
  }) }}

{% endblock %}