{% extends "layout_with_back_nstf.html" %}

{% block pageTitle %}
  Question example
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">2.2 Section heading</span>
    <h1 class="govuk-heading-l">Question heading</h1>

    <form action="check-your-answers-example" class="form" method="post">

      <div class="govuk-form-group">
        <label
        class="govuk-label govuk-label--s"
        for="project-description"
        >Question?</label>
        <div id="data-example-hint" class="govuk-hint">
          Hint hint
        </div>
        <input
        class="govuk-input"
        id="data-example-4"
        name="data-example-4"
        type="text"
        spellcheck="false"
        value="{{ data['data-example-4'] }}"
        />
      </div>

      <div>
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </div>
    </form>

  </div>
{% endblock %}
